<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:body>
	<ui:composition>

		<div class="main_menu_area">
			<h:form>
				<ul id="nav">
					<ui:fragment rendered="#{sessionState.hasPermission('BCMEGE') and sessionState.logged}">
						<li><a href="#">Admin</a>
							<ul>
								<ui:fragment rendered="#{sessionState.hasPermission('BCMEGELI') and sessionState.logged}">
									<li><a href="#">Gest. Camp. Liga</a>
										<ul>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoLiga}"
													title="Crear Calendario" value="Crear Calendario"
													rendered="#{sessionState.hasPermission('BCMEGELI1') and sessionState.logged}" />
											</li>
										</ul>
									</li>
								</ui:fragment>
								<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEIN') and sessionState.logged}">
									<li><a href="#">Gest. Camp. Individuales</a>
										<ul>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualPrimera}"
													title="Primera" value="Primera"
													rendered="#{sessionState.hasPermission('BCMEGEI1') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualSegunda}"
													title="Segunda" value="Segunda"
													rendered="#{sessionState.hasPermission('BCMEGEI2') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualTercera}"
													title="Tercera" value="Tercera"
													rendered="#{sessionState.hasPermission('BCMEGEI3') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualFemenino}"
													title="Femenino" value="Femenino"
													rendered="#{sessionState.hasPermission('BCMEGEIF') and sessionState.logged}" />
											</li>
										</ul>
									</li>
								</ui:fragment>
								<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEPA') and sessionState.logged}">
									<li><a href="#">Gest. Camp. Parejas</a>
										<ul>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasPrimera}"
													title="Primera" value="Primera"
													rendered="#{sessionState.hasPermission('BCMEGEP1') and sessionState.logged}"/>
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasSegunda}"
													title="Segunda" value="Segunda"
													rendered="#{sessionState.hasPermission('BCMEGEP2') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasTercera}"
													title="Tercera" value="Tercera"
													rendered="#{sessionState.hasPermission('BCMEGEP3') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasFemenino}"
													title="Femenino" value="Femenino"
													rendered="#{sessionState.hasPermission('BCMEGEPF') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMixtoParejas}"
													title="Mixto" value="Mixto"
													rendered="#{sessionState.hasPermission('BCMEGEPM') and sessionState.logged}" />
											</li>
									</ul></li>
								</ui:fragment>
							

					</ul></li>
					</ui:fragment>
					<ui:fragment rendered="#{sessionState.hasPermission('BCMEFE') and sessionState.logged}">
						<li>
							<a href="http://localhost:8080/bolocelta2021/fichaEquipo.xhtml">Mi Equipo</a>
						</li>
					</ui:fragment>
					<li><a href="#">Informacion</a>
						<ul>
							<li>
								<a href="http://localhost:8080/bolocelta2021/boleras.xhtml">Boleras</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/equipos.xhtml">Equipos</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/calendario.xhtml">Calendario</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Liga</a>
						<ul>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoEquiposPrimera.xhtml">Equipos 1ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoEquiposSegunda.xhtml">Equipos 2ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoEquiposTercera.xhtml">Equipos 3ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoLigaFemenina.xhtml">Femenina</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoLigaInfantil.xhtml">Infantil</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Individual</a>
						<ul>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoMasculinoIndividualPrimera.xhtml">Invididual 1ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoMasculinoIndividualSegunda.xhtml">Invididual 2ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoMasculinoIndividualTercera.xhtml">Invididual 3ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoFemeninoIndividual.xhtml">Femenino</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoVeteranosIndividual.xhtml">Veteranos</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoJuvenilesIndividual.xhtml">Juveniles</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Parejas</a>
						<ul>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoMasculinoParejasPrimera.xhtml">Parejas 1ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoMasculinoParejasSegunda.xhtml">Parejas 2ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoMasculinoParejasTercera.xhtml">Parejas 3ª</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoParejasFemenino.xhtml">Femenino</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/campeonatoParejasMixto.xhtml">Mixto</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="http://localhost:8080/bolocelta2021/premioMVP.xhtml">Premios MVP</a>
					</li>
					<li>
						<a href="http://localhost:8080/bolocelta2021/documentos.xhtml">Documentos</a>
					</li>
					<li><a href="#">Historico</a>
						<ul>
							<li>
								<a href="http://localhost:8080/bolocelta2021/historiaCampeonatosEspana.xhtml">Campeonatos España</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2021/historiaCampeonatosAsturias.xhtml">Campeonatos Asturias</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta">Temporada  2022</a>
							</li>
							<li>
								<a href="http://localhost:8080/bolocelta2020">Temporada  2020</a>
							</li>
						</ul>
					</li>
				</ul>
			</h:form>
		</div>
	

	</ui:composition>
</h:body>
</html>


