<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>
	<ui:composition>

		<div class="footer_top_area">
			<div class="inner_footer_top">
				<ui:include src="/template_1.0/template/commonAnuncios.xhtml" />
				</div>
		</div>
		<div class="footer_bottom_area">
			<div>
				<div class="search">
					<div class="social">
						<h:form>
						<ul>
							<li>
								<h:commandLink action="#{menuView.doAppFacebook}" styleClass="facebook" target="_blank">
									<h:graphicImage value="template_1.0/assets/css/images/icoFacebook.png"/>
								</h:commandLink>
							</li>
							<li>
								<h:commandLink action="#{menuView.doAppTwitter}" styleClass="twitter" target="_blank">
									<h:graphicImage value="template_1.0/assets/css/images/icoTwitter.png"/>
								</h:commandLink>
							</li>
							<li>
								<h:commandLink action="#{menuView.doAppInstagram}" styleClass="instagram" target="_blank">
									<h:graphicImage value="template_1.0/assets/css/images/icoInstagram.png"/>
								</h:commandLink>
							</li>
							<li>
								<h:commandLink action="#{menuView.doAppYoutube}" styleClass="youtube" target="_blank">
									<h:graphicImage value="template_1.0/assets/css/images/icoYoutube.png"/>
								</h:commandLink>
							</li>
							<li>
								<h:commandLink action="#{menuView.doAppLigaSmartLive}" styleClass="laligasports" target="_blank">
									<h:graphicImage value="template_1.0/assets/css/images/icoLigaSports.png"/>
								</h:commandLink>
							</li>
						</ul>
						</h:form>
					</div>
				</div>
			</div>
			<div class="copyright_text">
				<p>
					Copyright &copy; 2020 Asociación de Bolo Celta. All rights reserved |
					Design by David Velasco Rubio
					Version: 1.0.0.20
				</p>
			</div>
		</div>

	</ui:composition>
</h:body>
</html>