<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:body>
	<ui:composition>

		<div class="content_area">
			<div class="main_content_all">
				<ui:insert name="content-title"/>
				<h:panelGrid columns="1" width="100%">
					<ui:insert name="contentCal"/>
				</h:panelGrid>
				<h:panelGrid columns="1" width="100%">
					<ui:insert name="contentCla"/>
				</h:panelGrid>
			</div>
		</div>

	</ui:composition>
</h:body>
</html>


