<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayoutClasifIndividual.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato Masculino Individual de Asturias - 2ª Categoria"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
		</center>	
	</ui:define>
	

	
	<ui:define name="contentFases">
	
		<ui:fragment rendered="#{!campeonatoMasculinoIndividualSegundaFacade2021.sorteoFinalizado}">
			<div class="list-title">
				<h:outputText value="El campeonato no esta disponible. Pendiente de celebrar."/>
			</div>
		</ui:fragment>

		<ui:fragment rendered="#{campeonatoMasculinoIndividualSegundaFacade2021.sorteoFinalizado}">
	
		<p:tabView id="tabViewId">
		    <c:forEach items="#{campeonatoMasculinoIndividualSegundaFacade2021.resultListFasesTabShow}" var="aTab">
		          <p:tab title="#{aTab.nombre}">

		          
		          		<ui:fragment rendered="#{aTab.faseGrupo}">
		          		
		          		<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
		          		
						    <p:dataTable var="info" value="#{campeonatoMasculinoIndividualSegundaFacade2021.getResultListClasificacionFaseIByGrupo(aTab.grupo)}" 
						    			 reflow="true" rows="#{campeonatoMasculinoIndividualSegundaFacade2021.getRowsPaginatorClasificacionFaseIByGrupo(aTab.grupo)}" paginator="false" 
						    			 tableStyle="width: 100%; table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 rowStyleClass="#{index le (campeonatoMasculinoIndividualSegundaFacade2021.getFase(aTab.fase).clasifican-1) ? 'primero' : 'normal'}"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación #{aTab.nombre} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Jugador" styleClass="headerTextColumn">
						            <h:outputText value="#{info.jugador.nombreEquipoShow}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Jug"  styleClass="headerTextColumn">
						            <h:outputText value="#{info.pj}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Gan" width="10%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pg}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Emp" width="10%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pe}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Der" width="10%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pp}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Part.+" width="12%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pf}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Part.-" width="12%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pc}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Pun" width="12%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pt}"  styleClass="valueTextColumn"/>
						        </p:column>
						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
						    
    						<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI2') and sessionState.logged}">
								<div class="form-group" style="padding-left: 15px;">
									<div class="col-sm-12">
										<div class="form-group">
									        <div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Octavos de final" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToOctavosFinal(aTab.grupo)}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Cuartos de final (Grupos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToCuartosFinal(aTab.grupo)}"
													rendered="#{campeonatoMasculinoIndividualSegundaFacade2021.activoClasificarCuartosForGrupos}"/>
												<h:commandButton value="Clasificar a Cuartos de final (Octavos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToCuartosFinal()}"
													rendered="#{campeonatoMasculinoIndividualSegundaFacade2021.activoClasificarCuartosForOctavos}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Semifinales (Grupos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToSemifinal(aTab.grupo)}"
													rendered="#{campeonatoMasculinoIndividualSegundaFacade2021.activoClasificarSemifinalesForGrupos}"/>
												<h:commandButton value="Clasificar a Semifinales (Cuartos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToSemifinal()}"
													rendered="#{campeonatoMasculinoIndividualSegundaFacade2021.activoClasificarSemifinalesForCuartos}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Final Consolacion" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToFinalConsolacion()}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Final" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoMasculinoIndividualSegundaFacade2021.doClasificarToFinal()}"/>
											</div>
										</div>
									</div>
								</div>
							</ui:fragment>
							
						    <p:dataTable var="info" value="#{campeonatoMasculinoIndividualSegundaFacade2021.getResultListCalendarioFaseIByGrupo(aTab.grupo)}" 
						    			 reflow="true" rows="#{campeonatoMasculinoIndividualSegundaFacade2021.getRowsPaginatorCalendarioFaseIByGrupo(aTab.grupo)}" paginator="true"
						    			 currentPageReportTemplate=" "
										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						    			 tableStyle="width: 100%; table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Calendario #{aTab.nombre}"/>
									</div>
						    	</f:facet>
						    	
								<p:column headerText="" width="5%" styleClass="headerTextColumn">
									<ui:fragment rendered="#{sessionState.hasPermission(campeonatoMasculinoIndividualSegundaFacade2021.getPermisoGrupo(aTab.grupo)) and sessionState.logged}">
							        	<h:commandButton styleClass="iconsavebutton" 
											title="Guardar" action="#{campeonatoMasculinoIndividualSegundaFacade2021.doActualizarResultadoGrupos(info)}"
							        		rendered="#{info.modificable}">
						        	    </h:commandButton>
							       	 </ui:fragment>
								</p:column>	
						 
						        <p:column headerText="Fecha" width="10%" styleClass="headerTextColumn">
						            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getFase(aTab.fase).fecha}" styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Hora" width="5%" styleClass="headerTextColumn">
						            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getFase(aTab.fase).hora}" styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.bolera.bolera}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Nº" width="5%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.orden}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Inicia" width="5%" styleClass="headerTextColumn">
						            <h:outputText value="#{info.inicia}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Local" width="15%" styleClass="headerTextColumn">
						            <p:graphicImage url="#{info.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
									<h:outputText value="#{info.jugador1.nombreEquipoShow}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="" width="5%" styleClass="headerTextColumn">
						        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoMasculinoIndividualSegundaFacade2021.getPermisoGrupo(aTab.grupo))}">
						            	<h:outputText value="#{info.juegosJugador1}"  styleClass="valueTextColumn"/>
						            </ui:fragment>
						            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoMasculinoIndividualSegundaFacade2021.getPermisoGrupo(aTab.grupo)) and sessionState.logged}">
						            		<p:inputText value="#{info.juegosJugador1}" maxlength="1" size="1"
													 rendered="#{info.modificable}"/>
											 <h:outputText value="#{info.juegosJugador1}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
						            </ui:fragment>
						        </p:column>
						        
						        <p:column headerText="" width="5%" styleClass="headerTextColumn">
						        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoMasculinoIndividualSegundaFacade2021.getPermisoGrupo(aTab.grupo))}">
						            	<h:outputText value="#{info.juegosJugador2}"  styleClass="valueTextColumn"/>
						            </ui:fragment>
						            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoMasculinoIndividualSegundaFacade2021.getPermisoGrupo(aTab.grupo)) and sessionState.logged}">
						            		<p:inputText value="#{info.juegosJugador2}" maxlength="1" size="1"
													 rendered="#{info.modificable}"/>
											<h:outputText value="#{info.juegosJugador2}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
						            </ui:fragment>
						        </p:column>
						        
						        <p:column headerText="Vistan." width="15%" styleClass="headerTextColumn">
						        	<p:graphicImage url="#{info.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
						            <h:outputText value="#{info.jugador2.nombreEquipoShow}" styleClass="valueTextColumn"/>
						        </p:column>
						        
				        
						        
						        
						    </p:dataTable>
						
						</h:form>
						    
					    </ui:fragment>
					    
					    <ui:fragment rendered="#{!aTab.faseGrupo}">
					    
					    <h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
					    
					    	<ui:fragment rendered="#{aTab.grupo == 'GR'}">
								<p:tree value="#{campeonatoMasculinoIndividualSegundaFacade2021.cuadro}" var="node" orientation="horizontal"
										 style="width: 100%;height: 100px;overflow: auto;display: block">
							        <p:treeNode>
							        	<h:panelGrid columns="1" cellpadding="1" >
							        		<p:column>
							            		<h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getExtractCampeonNode(node)}" style="font-weight: bold;color: blue;" styleClass="valueTextColumn"/>
							            	</p:column>
									        <p:column>
							            		<h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getExtractJugadorNode(node)}" style="font-weight: bold;" styleClass="valueTextColumn"/>
							            	</p:column>
							            	<p:column>
							            		<h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getExtractEquipoNode(node)}"  styleClass="valueTextColumn"/>
							            	</p:column>
							            </h:panelGrid>
							        </p:treeNode>
							    </p:tree>
					    	</ui:fragment>
					    	
					    	<ui:fragment rendered="#{aTab.grupo != 'GR'}">
					    
							    <p:dataTable var="info" value="#{campeonatoMasculinoIndividualSegundaFacade2021.getResultListCalendarioByCruceDirecto(aTab.fase)}" 
							    			 reflow="true"
											 tableStyle="width: 100%; table-layout: auto;"
											 emptyMessage="No hay datos.">
							    			 
									<f:facet name="header">
							    		<div class="list-title">
											<h:outputText value="Calendario #{aTab.nombre}"/>
										</div>
							    	</f:facet>
							    	
									<p:column headerText="" width="5%" styleClass="headerTextColumn">
										<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI2ARFF') and sessionState.logged}">
								        	<h:commandButton styleClass="iconsavebutton" 
												title="Guardar" action="#{campeonatoMasculinoIndividualSegundaFacade2021.doActualizarResultadosEnfrentamientoDirecto(aTab.fase, info)}"
								        		rendered="#{info.modificable}">
							        	    </h:commandButton>
								       	 </ui:fragment>
									</p:column>	
							 
							        <p:column headerText="Fecha" width="10%" styleClass="headerTextColumn">
							            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getFase(aTab.fase).fecha}" styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Hora" width="5%" styleClass="headerTextColumn">
							            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.getFase(aTab.fase).hora}" styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
							            <h:outputText value="#{info.bolera.bolera}"  styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Nº" width="5%" styleClass="headerTextColumn">
							            <h:outputText value="#{info.orden}"  styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Cruce" width="5%" styleClass="headerTextColumn">
							            <h:outputText value="#{info.idCruce}"  styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Inicia" width="5%" styleClass="headerTextColumn">
							            <h:outputText value="#{info.inicia}"  styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Local" width="15%" styleClass="headerTextColumn">
							            <p:graphicImage url="#{info.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
										<h:outputText value="#{info.jugador1.nombreEquipoShow}" rendered="#{ not empty info.jugador1}" styleClass="valueTextColumn"/>
										<h:outputText value="#{info.origenJugador1}" rendered="#{empty info.jugador1}" styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Part 1" width="5%" styleClass="headerTextColumn">
							        	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI2ARFF') or !sessionState.logged}">
							            	<h:outputText value="#{info.partida1}"  styleClass="valueTextColumn"/>
							            </ui:fragment>
							            <ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI2ARFF') and sessionState.logged}">
							            		<p:inputText value="#{info.juegosJugador1P1}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="-" rendered="#{info.modificable}" styleClass="valueTextColumn"/>
												<p:inputText value="#{info.juegosJugador2P1}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="#{info.partida1}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
							            </ui:fragment>
							        </p:column>
							        
							        <p:column headerText="Part 2" width="5%" styleClass="headerTextColumn">
							        	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI2ARFF') or !sessionState.logged}">
							            	<h:outputText value="#{info.partida2}"  styleClass="valueTextColumn"/>
							            </ui:fragment>
							            <ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI2ARFF') and sessionState.logged}">
							            		<p:inputText value="#{info.juegosJugador1P2}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="-" rendered="#{info.modificable}" styleClass="valueTextColumn"/>
												<p:inputText value="#{info.juegosJugador2P2}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="#{info.partida2}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
							            </ui:fragment>
							        </p:column>
	
							        <p:column headerText="Part 3" width="5%" styleClass="headerTextColumn">
							        	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI2ARFF') or !sessionState.logged}">
							            	<h:outputText value="#{info.partida3}"  styleClass="valueTextColumn"/>
							            </ui:fragment>
							            <ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI2ARFF') and sessionState.logged}">
							            		<p:inputText value="#{info.juegosJugador1P3}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="-" rendered="#{info.modificable}" styleClass="valueTextColumn"/>
												<p:inputText value="#{info.juegosJugador2P3}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="#{info.partida3}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
							            </ui:fragment>
							        </p:column>
							        
							        <p:column headerText="Vistan." width="15%" styleClass="headerTextColumn">
							        	<p:graphicImage url="#{info.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
							            <h:outputText value="#{info.jugador2.nombreEquipoShow}" rendered="#{not emptyinfo.jugador2}" styleClass="valueTextColumn"/>
							            <h:outputText value="#{info.origenJugador2}" rendered="#{empty info.jugador2}" styleClass="valueTextColumn"/>
							        </p:column>
							        
							    </p:dataTable>
							    
							</ui:fragment>
							
						</h:form>
					    
					    </ui:fragment>
					    
		          
		          </p:tab>
		    </c:forEach>
		</p:tabView>
		
		</ui:fragment>
		
	</ui:define>
	
	<ui:define name="contentInscritos">
		<ui:fragment rendered="#{!campeonatoMasculinoIndividualSegundaAddFacade2021.estadoCampeonatoSinCrear}">
		
			<p:tabView>
			
				<p:tab title="Definición Campeonato">
				
					<div class="form-group">
						<div class="col-sm-12">
				
							<h:panelGrid columns="3" width="100%">
							
								<h:column>
									<p:outputLabel for="anyofechaMaxInscripcionInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Fecha max. inscripción"/>
								</h:column>
								
								<h:column>
									<p:outputLabel 	id="diafechaMaxInscripcionInput"
													value="#{campeonatoMasculinoIndividualSegundaAddFacade2021.diaFechaMaxInscripcion}"/>
									<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
									<p:outputLabel 	id="mesfechaMaxInscripcionInput"
													value="#{campeonatoMasculinoIndividualSegundaAddFacade2021.mesFechaMaxInscripcion}"/>
									<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
									<p:outputLabel 	id="anyofechaMaxInscripcionInput"
													value="#{campeonatoMasculinoIndividualSegundaAddFacade2021.anyoFechaMaxInscripcion}"/>
								</h:column>
								
								<h:column>
									<p:message for="anyofechaMaxInscripcionInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
								<h:column>
									<p:outputLabel for="estadoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Estado:" />
								</h:column>
								
								<h:column>
										<p:outputLabel id="estadoInput"
											value="#{campeonatoMasculinoIndividualSegundaAddFacade2021.estadoCampeonato}"/>						
								</h:column>
								
								<h:column>
									<p:message for="estadoInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
								<h:column>
									<p:outputLabel for="boleraInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Bolera Final:" />
								</h:column>
								
								<h:column>
										<p:outputLabel id="boleraInput" value="#{campeonatoMasculinoIndividualSegundaAddFacade2021.nombreBolera}"/>						
								</h:column>
								
								<h:column>
									<p:message for="boleraInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
							</h:panelGrid>
							
						</div>
					</div>
	
					<div class="form-group">
	
					</div>
	
				</p:tab>
				
				<p:tab title="Jugadores inscritos" rendered="#{!campeonatoMasculinoIndividualSegundaAddFacade2021.estadoCampeonatoSinCrear}">
				
					<h:panelGrid columns="12" width="100%">
					
					</h:panelGrid>
					
					<div class="form-group">
						<h:outputText value="Total jugadores inscritos: #{campeonatoMasculinoIndividualSegundaAddFacade2021.totalRowsParticipantes}"  styleClass="valueTextColumn"/>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-12">
							<div class="form-group">
							    <p:dataTable var="info" value="#{campeonatoMasculinoIndividualSegundaAddFacade2021.resultListParticipantes}" 
							    			 reflow="true" 
					    			 		 rows="#{campeonatoMasculinoIndividualSegundaAddFacade2021.maxRowsPaginator}" 
					    			 		 paginator="#{campeonatoMasculinoIndividualSegundaAddFacade2021.enabledPaginatorParticipantes}" 
							    			 tableStyle="width: 100%; table-layout: auto;"
		    			 					 paginatorPosition="bottom"
		    			 					 emptyMessage="No hay datos.">
							 
							        <p:column headerText="Nombre" width="auto" styleClass="headerTextColumn">
							            <h:outputText value="#{info.jugador.nombre}"  styleClass="valueTextColumn"/>
							        </p:column>
							 
							        <p:column headerText="Apodo" styleClass="headerTextColumn">
							            <h:outputText value="#{info.jugador.apodoShow}"  styleClass="valueTextColumn"/>
							        </p:column>
							        
							        <p:column headerText="Equipo" styleClass="headerTextColumn">
							            <h:outputText value="#{equiposFacade2021.readName(info.jugador.equipoId)}"  styleClass="valueTextColumn"/>
							        </p:column>
							 
							    </p:dataTable>
	
	
	
	
						        <div class="lowButtons my-buttons">
								</div>
							</div>
						</div>
					</div>
					
	
				</p:tab>
				
		        <p:tab title="Instrucciones campeonato">
			        <h:panelGrid columns="1" cellpadding="10">
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato1}" />
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato2}" />
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato3}" />
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato4}" />
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato5}" />
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato6}" />
			            <h:outputText value="#{campeonatoMasculinoIndividualSegundaFacade2021.observacionesCampeonato7}" />    
		        	</h:panelGrid>
		        </p:tab>
			
			</p:tabView>
		</ui:fragment>	
             
	</ui:define>
	




</ui:composition>


</html>