<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Gestión de Datos del Jugador: #{fichaJugadorFacade2021.jugador.nombre} (#{fichaEquipoFacade2021.equipo.nombre})"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
				
				<p:messages id="msgs" style="text-align: left"/>
				
				<div class="form-group">
				</div>
		
				<div class="form-group">
				
					<div class="col-sm-18">
			
						<div class="col-sm-1">
							<p:message for="nombreInput" display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="nombreInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Nombre:"/>
						</div>
						<div class="col-sm-5">
							<p:inputText id="nombreInput"
								disabled="!#{sessionState.hasPermission('BCMEFJ')}"
								required="true"
								value="#{fichaJugadorFacade2021.jugador.nombre}"
								size="30"
								maxlength="50"/>
						</div>
						
					</div>
					<div class="col-sm-18">

						<div class="col-sm-1">
							<p:message for="apodoInput" display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="apodoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Apodo:" />
						</div>
						<div class="col-sm-5">
							<p:inputText id="apodoInput"
									disabled="!#{sessionState.hasPermission('BCMEFJ')}"
									required="true"
									value="#{fichaJugadorFacade2021.jugador.apodo}"
									size="30"
									maxlength="50"/>
						</div>
					
					</div>
					
					
					
					<div class="col-sm-18">
						
						<div class="col-sm-1">
							<p:message for="edadInput" display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="edadInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Edad:" />
						</div>
						<div class="col-sm-5">
							<p:inputText id="edadInput"
									disabled="!#{sessionState.hasPermission('BCMEFJ')}"
									required="true"
									value="#{fichaJugadorFacade2021.jugador.edad}"
									size="30"
									maxlength="2"/>
						</div>
						
					</div>
					<div class="col-sm-18">
						
						<div class="col-sm-1">
							<p:message for="numeroFichaInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="numeroFichaInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="N.Ficha:" />
						</div>
						<div class="col-sm-5">
							<p:inputText id="numeroFichaInput"
									disabled="!#{sessionState.hasPermission('BCMEFJ')}"
									required="true"
									value="#{fichaJugadorFacade2021.jugador.numeroFicha}"
									size="30"
									maxlength="6"/>	
						</div>
					</div>
					
					<div class="col-sm-18">
						
						<div class="col-sm-1">
							<p:message for="telefonoInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="telefonoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Teléfono:" />
						</div>
						<div class="col-sm-5">
							<p:inputText id="telefonoInput"
										disabled="!#{sessionState.hasPermission('BCMEFJ')}"
										value="#{fichaJugadorFacade2021.jugador.telefono}"
										size="30"
										maxlength="9"/>
						</div>
						
					</div>
					<div class="col-sm-18">
						
						<div class="col-sm-1">
							<p:message for="emailInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="emailInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Email:" />
						</div>
						<div class="col-sm-5">
							<p:inputText id="emailInput"
										disabled="!#{sessionState.hasPermission('BCMEFJ')}"
										value="#{fichaJugadorFacade2021.jugador.email}"
										size="30"
										maxlength="50"/>
						</div>
					</div>
				
				
					<div class="col-sm-18">
						
						<div class="col-sm-1">
							<p:message for="modalidadInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="modalidadInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Modalidad:" />
						</div>
						<div class="col-sm-5">
							<p:selectBooleanCheckbox id="modalidadInput"
									value="#{fichaJugadorFacade2021.jugador.masculino}"
									itemLabel="Masculino"
									disabled="!#{sessionState.hasPermission('BCMEFJ')}" 
									required="true"/>
								<p:selectBooleanCheckbox
									value="#{fichaJugadorFacade2021.jugador.femenino}"
									itemLabel="Femenino"
									disabled="!#{sessionState.hasPermission('BCMEFJ')}"
									required="true"/>
						</div>
						
					</div>
					<div class="col-sm-18">
						
						<div class="col-sm-1">
							<p:message for="activoInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
						</div>
						<div class="col-sm-3">
							<p:outputLabel for="activoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Activo:" />
						</div>
						<div class="col-sm-5">
							<p:inputText id="activoInput"
										disabled="true"
										value="#{fichaJugadorFacade2021.jugador.activo}"
										size="30"/>
						</div>
					</div>
					
				</div>

					
				<div class="form-group">
					<div class="lowButtons my-buttons">
						<h:commandButton id="cancelButton" styleClass="button btn btn-info" 
							value="Cancelar" action="#{fichaJugadorFacade2021.doCancel()}" 
							rendered="#{sessionState.logged}" immediate="true">
						</h:commandButton>
		        	    <h:commandButton id="insertButton" styleClass="button btn btn-primary" 
							value="Crear" action="#{fichaJugadorFacade2021.doInsert()}" 
							rendered="#{sessionState.hasPermission('BCMEFJCR') and sessionState.logged and fichaJugadorFacade2021.new}">
		        	    </h:commandButton>
		        	    <h:commandButton id="saveButton" styleClass="button btn btn-primary" 
							value="Guardar" action="#{fichaJugadorFacade2021.doSave()}" 
							rendered="#{sessionState.hasPermission('BCMEFJUP') and sessionState.logged and !fichaJugadorFacade2021.new}">
		        	    </h:commandButton>
	    	    		<h:commandButton id="deleteButton" styleClass="button btn btn-danger" 
							value="Borrar" action="#{fichaJugadorFacade2021.doDelete()}" 
							rendered="#{sessionState.hasPermission('BCMEFJDE') and sessionState.logged and !fichaJugadorFacade2021.new}">
		        	    </h:commandButton>
	        	    </div>
				</div>
					
					

					

			</h:form>

		</div>

	</ui:define>

</ui:composition>

</html>
