<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Inscripción de Pareja Femenino"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
	
	<ui:fragment rendered="#{sessionState.hasPermission('BCMEFJIPA') and sessionState.logged}">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
			
				<p:messages id="msgs" style="text-align: left"/>

				<div class="form-group">
				</div>
		
				<div class="form-group">
				
						<p:outputLabel for="pareja1" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Pareja 1:"/>
						<h:commandButton id="addJugador1EquipoButton" styleClass="iconjugadorlocalbutton" 
							title="Seleccionar Jugador Equipo" action="#{fichaEquipoFacade2021.addJugador1EquipoFemenino()}"
							rendered="#{sessionState.hasPermission('BCMEFJCRPA') and sessionState.logged}">
		        	    </h:commandButton>
		        	    <h:outputText id="pareja1" value="#{fichaEquipoFacade2021.jugador1 != null and fichaEquipoFacade2021.jugador1.id != null ? fichaEquipoFacade2021.jugador1.nombreEquipo : 'No ha seleccionado el jugador de la pareja 1'}" style="padding-left:25px;"/>
						
				</div>
				
				<div class="form-group">
				<p:separator/>
				</div>
		
				<div class="form-group">
				
						<p:outputLabel for="pareja2" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Pareja 2:"/>
						<h:commandButton id="addJugador2EquipoButton" styleClass="iconjugadorlocalbutton" 
							title="Seleccionar Jugador Equipo" action="#{fichaEquipoFacade2021.addJugador2EquipoFemenino()}"
							rendered="#{sessionState.hasPermission('BCMEFJCRPA') and sessionState.logged}">
		        	    </h:commandButton>
		        	    <h:outputText value = " "/>
						<h:commandButton id="addJugador2OtroEquipoButton" styleClass="iconjugadorvisitantebutton" 
							title="Seleccionar Jugador Otros Equipos" action="#{fichaEquipoFacade2021.addJugador2OtroEquipoFemenino()}"
							rendered="#{sessionState.hasPermission('BCMEFJCRPA') and sessionState.logged}">
		        	    </h:commandButton>
						<h:outputText id="pareja2" value="#{fichaEquipoFacade2021.jugador2 != null and fichaEquipoFacade2021.jugador2.id != null ? fichaEquipoFacade2021.jugador2.nombreEquipo : 'No ha seleccionado el jugador de la pareja 2'}" style="padding-left:25px;"/>
						
					
				</div>
				
				<div class="form-group">
				<p:separator/>
				</div>
		
				<div class="form-group">
				
				
						<p:outputLabel for="categoria" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Categoria:"/>
		        	    <h:outputText id="categoria" value="#{fichaEquipoFacade2021.categoria != null and fichaEquipoFacade2021.categoria.id != null ? fichaEquipoFacade2021.categoria.nombreCategoria : 'No ha seleccionado la categoria'}" style="padding-left:25px;"/>						

					
					<div class="form-group">

					</div>
					
	
				</div>
				
				<div class="form-group">
					<div class="lowButtons my-buttons">
						<h:commandButton id="cancelButton" styleClass="button btn btn-info" 
							value="Cancelar" action="#{fichaEquipoFacade2021.doCancel()}" 
							rendered="#{sessionState.logged}" immediate="true">
						</h:commandButton>
		        	    <h:commandButton id="insertButton" styleClass="button btn btn-primary" 
							value="Crear" action="#{fichaEquipoFacade2021.doInsertParejaFemenino()}" 
							rendered="#{sessionState.hasPermission('BCMEFJCR') and sessionState.logged}">
		        	    </h:commandButton>
	        	    </div>
				</div>

			</h:form>

		</div>
		
	</ui:fragment>
		
	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEFE') or !sessionState.logged}">
	
		<div class="list-title">
			<h:outputText value="No dispone de permisos para visualizar esta pagina" />
		</div>	
	
	</ui:fragment>

	</ui:define>

</ui:composition>

</html>
