<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="HISTORIA CAMPEONATOS DE ASTURIAS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		
		<p:tabView id="tabViewId">
		    <c:forEach items="#{historiaCampeonatoAsturias2021.resultListAnyoTabShow}" var="aTab">
		          <p:tab title="#{aTab}">
		          
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasIndividualByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Individual año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Jugador" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasParejasByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Parejas año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Pareja" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasEquiposByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Equipos año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasIndividualFemeninoByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Individual Femenino año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Jugadora" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasParejasFemeninoByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Parejas Femenino año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Pareja" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasMixtoByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Mixto año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Pareja" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasVeteranosByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Veteranos año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Pareja" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoAsturias2021.getResultListHistoricoCampeonatoAsturiasJuvenilesByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 emptyMessage="No hay datos.">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Juveniles año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" styleClass="headerTextColumn">
						            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Pareja" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Equipo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.equipo}"  styleClass="valueTextColumn"/>
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
		          </p:tab>
		    </c:forEach>
		</p:tabView>
		
	</ui:define>




</ui:composition>


</html>

