<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato Parejas de Asturias: Inscripción jugadores"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
	
	<ui:fragment rendered="#{sessionState.hasPermission('BCMEFJIPA') and sessionState.logged}">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
			
				<p:messages id="msgs" style="text-align: left"/>
				
				
				<div class="form-group">
				</div>
		
				<div class="form-group">
				
						    <p:dataTable var="info" value="#{fichaEquipoFacade2021.getResultListParticipantesByEquipo(fichaEquipoFacade2021.equipo.id)}" 
						    			 reflow="true" 
				    			 		 rows="#{fichaEquipoFacade2021.maxRowsPaginator}" 
				    			 		 paginator="#{fichaEquipoFacade2021.enabledPaginator}" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
	    			 					 paginatorPosition="bottom"
	    			 					 emptyMessage="No hay datos.">
						 
						        <p:column headerText="Jugador 1 de la Pareja" width="auto" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pareja.jugador1.nombreEquipoShow}"  styleClass="valueTextColumn"/>
						        </p:column>
						 
						        <p:column headerText="Jugador 2 de la Pareja" styleClass="headerTextColumn">
						            <h:outputText value="#{info.pareja.jugador2.nombreEquipoShow}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Categoria" styleClass="headerTextColumn">
						            <h:outputText value="#{info.categoria}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Activo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.activo}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="" styleClass="headerTextColumn">
 									<h:commandButton id="deleteButton" styleClass="icondeletebutton" 
										title="Desinscribir" action="#{fichaEquipoFacade2021.doDesinscribirPareja(info.pareja.id,info.categoria)}">
					        	    </h:commandButton>
						        </p:column>
						        					        						 
						    </p:dataTable>

					<div class="form-group">

					</div>
					
				</div>
				
				<div class="form-group">
					<div class="lowButtons my-buttons">
						<h:commandButton id="cancelButton" styleClass="button btn btn-info" 
							value="Cancelar" action="#{fichaEquipoFacade2021.doCancel()}" 
							rendered="#{sessionState.logged}" immediate="true">
						</h:commandButton>
						<h:commandButton id="addParejaButton" styleClass="button btn btn-primary" 
							value="Nueva Pareja" action="#{fichaEquipoFacade2021.addInscripcionParejas()}"
							rendered="#{sessionState.hasPermission('BCMEFJCRPA') and sessionState.logged}">
		        	    </h:commandButton>
	        	    </div>
				</div>

			</h:form>

		</div>
		
	</ui:fragment>
		
	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEFJIPA') or !sessionState.logged}">
	
		<div class="list-title">
			<h:outputText value="No dispone de permisos para visualizar esta pagina" />
		</div>	
	
	</ui:fragment>

	</ui:define>

</ui:composition>

</html>
