<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="PATROCINADORES"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:dataTable var="info" value="#{patrocinadoresFacade2021.resultList}"
				reflow="true" rows="#{patrocinadoresFacade2021.maxRowsPaginator}"
				paginator="#{patrocinadoresFacade2021.enabledPaginator}"
				tableStyle="width: 100%; table-layout: auto;"
				paginatorPosition="bottom"
				emptyMessage="No hay datos.">
				
		        <p:column width="20%" styleClass="headerTextColumn">

				<div>
		        	<h:commandLink action="#{menuView.doAppRedirect(info.web)}" styleClass="youtube" target="_blank">
						<p:graphicImage url="#{info.logo}" style="height:125px;width:250px;max-width: none;"/>
					</h:commandLink>
				</div>
				<div>
					<p/>
					<h:outputText value="#{info.patrocinador}"  styleClass="valueTextColumn"/>
					<p/>
					<h:outputText value="#{info.telefono}"  styleClass="valueTextColumn"/>
					<p/>
					<h:outputText value="#{info.web}"  styleClass="valueTextColumn"/>
					<p/>
					<h:outputText value="#{info.descripcion}" styleClass="valueTextColumn"/>   
				</div>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>


</html>

