<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="BOLERAS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:dataTable var="info" value="#{bolerasFacade.resultList}"
				reflow="true" rows="#{bolerasFacade.maxRowsPaginator}"
				paginator="#{bolerasFacade.enabledPaginator}"
				tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
				paginatorPosition="bottom">

				<p:column headerText="Bolera" width="40%">
					<h:outputText value="#{info.bolera}" />
				</p:column>

				<p:column headerText="Localizacion" width="40%">
					<h:outputText value="#{info.localizacion}" />
				</p:column>

				<p:column headerText="Federada" width="20%">
					<h:outputText value="#{info.federada}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>


</html>

