<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="CALENDARIO TEMPORADA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:accordionPanel>

				<p:tab title="CALENDARIO ASTURIAS">
					<p:dataTable var="info"
						value="#{calendarioAsturiasFacade.resultList}" reflow="true"
						rows="#{calendarioAsturiasFacade.maxRowsPaginator}"
						paginator="#{calendarioAsturiasFacade.enabledPaginator}"
						tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						paginatorPosition="bottom">

						<p:column headerText="Fecha desde" width="10%">
							<h:outputText value="#{info.fechaDesde}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Fecha hasta" width="10%">
							<h:outputText value="#{info.fechaHasta}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Modalidad" width="20%">
							<h:outputText value="#{info.modalidad.modalidad}" />
						</p:column>

						<p:column headerText="Categoria" width="20%">
							<h:outputText value="#{info.categoria.nombreCategoria}" />
						</p:column>

						<p:column headerText="Campeonato" width="40%">
							<h:outputText value="#{info.nombreCampeonato}" />
						</p:column>


					</p:dataTable>
				</p:tab>
				<p:tab title="CALENDARIO ESPAÑA">
					<p:dataTable var="info"
						value="#{calendarioEspanaFacade.resultList}" reflow="true"
						rows="#{calendarioEspanaFacade.maxRowsPaginator}"
						paginator="#{calendarioEspanaFacade.enabledPaginator}"
						tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						paginatorPosition="bottom">

						<p:column headerText="Fecha desde" width="10%">
							<h:outputText value="#{info.fechaDesde}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Fecha hasta" width="10%">
							<h:outputText value="#{info.fechaHasta}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Nombre" width="30%">
							<h:outputText value="#{info.nombreCampeonato}" />
						</p:column>

						<p:column headerText="Localización" width="25%">
							<h:outputText value="#{info.localizacion}" />
						</p:column>

						<p:column headerText="Provincia" width="25%">
							<h:outputText value="#{info.provincia}" />
						</p:column>


					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</h:form>
	</ui:define>




</ui:composition>


</html>

