<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Gestión de Campeonato Masculino Individual de Primera Categoria" />
				</div>
			</div>
			<div style="padding-bottom: 1%"></div>
		</center>
	</ui:define>

	<ui:define name="content">
	
	<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI1') and sessionState.logged}">
	
		

			
			
			<p:messages id="msgs" style="text-align: left"/>
			
				<p:tabView>
				
					<p:tab title="Definición Campeonato">
					
					<h:form style="width: 100% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
			
						<div class="form-group">
							<div class="col-sm-12">
					
								<h:panelGrid columns="6" width="100%">
								
									<h:column>
										<p:outputLabel for="anyofechaMaxInscripcionInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Fecha max. inscripción"/>
									</h:column>
									
									<h:column>
										<p:inputText 	id="diafechaMaxInscripcionInput"
														value="#{campeonatoMasculinoIndividualPrimeraAddFacade.diaFechaMaxInscripcion}"
														required="true"
														maxlength="2"
														size="1"
														requiredMessage="Día requerido"
														disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}"/>
										<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
										<p:inputText 	id="mesfechaMaxInscripcionInput"
														value="#{campeonatoMasculinoIndividualPrimeraAddFacade.mesFechaMaxInscripcion}"
														required="true"
														maxlength="2"
														size="1"
														requiredMessage="Mes requerido"
														disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}"/>
										<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
										<p:inputText 	id="anyofechaMaxInscripcionInput"
														value="#{campeonatoMasculinoIndividualPrimeraAddFacade.anyoFechaMaxInscripcion}"
												required="true"
														maxlength="4"
														size="3"
														requiredMessage="Año requerido"
														disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}"/>
									</h:column>
									
									<h:column>
										<p:message for="anyofechaMaxInscripcionInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
									</h:column>
									
									<h:column>
										<p:outputLabel for="estadoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Estado:" />
									</h:column>
									
									<h:column>
											<p:inputText id="estadoInput"
												required="true"
												value="#{campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonato}"
												disabled="true"/>						
									</h:column>
									
									<h:column>
										<p:message for="estadoInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
									</h:column>
									
									<h:column>
										<p:outputLabel for="boleraInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Bolera Final:" />
									</h:column>
									
									<h:column>
											<p:inputText id="boleraInput"
												required="true"
												value="#{campeonatoMasculinoIndividualPrimeraAddFacade.bolera}"
												disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}"/>						
									</h:column>
									
									<h:column>
										<p:message for="boleraInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
									</h:column>
									
								</h:panelGrid>
							
							</div>
						</div>
	
						<div class="form-group">
	
						</div>
	
						<ui:fragment >
							<div class="form-group">
								<div class="col-sm-12">
									<div class="form-group">
								        <div class="lowButtons my-buttons">
											<h:commandButton value="Crear Campeonato" styleClass="button btn btn-primary" 
												actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doCrearBaseCampeonato()}"
												rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}"/>
											<h:commandButton value="Abrir Inscripciones" styleClass="button btn btn-primary" 
												actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doAbrirInscripcionesCampeonato()}"
												rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.abrirInscripciones}"/>
											<h:commandButton value="Cerrar Inscripciones" styleClass="button btn btn-primary" 
												actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doCerrarInscripcionesCampeonato()}"
												rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.cerrarInscripciones}"/>
										</div>
									</div>
								</div>
							</div>
						</ui:fragment>
						
					</h:form>
					
					</p:tab>
					
					<p:tab title="Jugadores inscritos" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}">
					
					<h:form style="width: 100% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
					
						<h:panelGrid columns="12" width="100%">
						
						</h:panelGrid>
						
						<div class="form-group">
							<h:outputText value="Total jugadores inscritos: #{campeonatoMasculinoIndividualPrimeraAddFacade.totalRowsParticipantes}" />
						</div>
						
						
						<div class="form-group">
							<div class="col-sm-12">
								<div class="form-group">
								    <p:dataTable var="info" value="#{campeonatoMasculinoIndividualPrimeraAddFacade.resultListParticipantes}" 
								    			 reflow="true" 
						    			 		 rows="#{campeonatoMasculinoIndividualPrimeraAddFacade.maxRowsPaginator}" 
						    			 		 paginator="#{campeonatoMasculinoIndividualPrimeraAddFacade.enabledPaginatorParticipantes}" 
								    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
			    			 					 paginatorPosition="bottom">
								 
								        <p:column headerText="Nombre" width="auto">
								            <h:outputText value="#{info.jugador.nombre}" />
								        </p:column>
								 
								        <p:column headerText="Apodo">
								            <h:outputText value="#{info.jugador.apodo}" />
								        </p:column>
								        
								        <p:column headerText="Equipo">
								            <h:outputText value="#{equiposFacade.readName(info.jugador.equipoId)}" />
								        </p:column>
								 
								    </p:dataTable>




							        <div class="lowButtons my-buttons">
									</div>
								</div>
							</div>
						</div>

					</h:form>						

					</p:tab>
					
					<p:tab title="Definir fases del campeonato" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}">
					
					<h:form style="width: 100% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
					
						<div class="form-group">
	
						</div>
						
						
						<div class="form-group">
							<div class="col-sm-12">
								<div class="form-group">
								    <p:dataTable var="info" value="#{campeonatoMasculinoIndividualPrimeraAddFacade.resultListFases}" 
								    			 reflow="true" 
						    			 		 rows="#{campeonatoMasculinoIndividualPrimeraAddFacade.maxRowsPaginator}" 
						    			 		 paginator="#{campeonatoMasculinoIndividualPrimeraAddFacade.enabledPaginatorParticipantes}" 
								    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
			    			 					 paginatorPosition="bottom">
								 
								 		<p:column headerText="Numero" width="auto">
								            <h:outputText value="#{info.numero}" />
								        </p:column>
								 
								        <p:column headerText="Fase" width="auto">
								            <h:outputText value="#{info.nombre}" />
								        </p:column>
								        
								        <p:column headerText="Tipo Enfrent." width="auto">
								            <h:outputText value="#{info.tipoEnfrentamiento}" />
								        </p:column>
								        
								        <p:column headerText="Num. Grupos/Enfrent." width="auto">
								            <h:outputText value="#{info.numeroEnfrentamientos}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="numeroEnfrentamientosInput"
														value="#{info.numeroEnfrentamientos}"
														required="true"
														maxlength="2"
														size="2"
														requiredMessage="Num. Enfrentamientos requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								        
								        <p:column headerText="Num. Partidas" width="auto">
								            <h:outputText value="#{info.numeroPartidas}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="numeroPartidasInput"
														value="#{info.numeroPartidas}"
														required="true"
														maxlength="2"
														size="1"
														requiredMessage="Num. Partidas requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								        
								        <p:column headerText="Num. Juegos" width="auto">
								            <h:outputText value="#{info.numeroJuegos}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="numeroJuegosInput"
														value="#{info.numeroJuegos}"
														required="true"
														maxlength="2"
														size="1"
														requiredMessage="Num. Juegos requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								        
								        <p:column headerText="Clasifican" width="auto">
								            <h:outputText value="#{info.clasifican}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="clasificanInput"
														value="#{info.clasifican}"
														required="true"
														maxlength="2"
														size="1"
														requiredMessage="Clasifican requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								        
								        <p:column headerText="Fecha" width="auto">
								            <h:outputText value="#{info.fecha}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="fechaInput"
														value="#{info.fecha}"
														required="true"
														maxlength="10"
														size="10"
														requiredMessage="Fecha requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								        
								        <p:column headerText="Hora" width="auto">
								            <h:outputText value="#{info.hora}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="horaInput"
														value="#{info.hora}"
														required="true"
														maxlength="5"
														size="5"
														requiredMessage="Hora requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								 
								        <p:column headerText="Estado" width="auto">
								            <h:outputText value="#{info.estado}" />
								        </p:column>
								        
								        <p:column headerText="Activo" width="auto">
								            <h:outputText value="#{info.activo}" />
								        </p:column>
								        
								        <p:column headerText="Fase Siguiente" width="auto">
								            <h:outputText value="#{info.faseSiguiente}" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								            <p:inputText 	id="faseSiguienteInput"
														value="#{info.faseSiguiente}"
														required="true"
														maxlength="1"
														size="2"
														requiredMessage="Fase siguiente requerido."
														rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
								        </p:column>
								        
								        <p:column headerText="Actualizar" rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}" width="auto">
									        <h:commandLink action="#{campeonatoMasculinoIndividualPrimeraAddFacade.doActualizarDatos(info)}"
									        	title="Actualizar">
									           	<span class="fas fa-save" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
									        </h:commandLink>
								        </p:column>
								        
								        <p:column headerText="Cambiar Activo" rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}" width="auto">
									        <h:commandLink action="#{campeonatoMasculinoIndividualPrimeraAddFacade.doCambiarActivarFase(info)}"
									        	title="Cambiar">
									           	<span class="fas fa-exchange-alt" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
									        </h:commandLink>
								        </p:column>
								 
								    </p:dataTable>




							        <div class="lowButtons my-buttons">
										<h:commandButton value="Crear Fases Campeonato" styleClass="button btn btn-primary" 
											actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doCerrarFasesCampeonato()}"
											 rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.inscripcionesCerradas}"/>
									</div>
								</div>
							</div>
						</div>

					</h:form>						

					</p:tab>
				
					<p:tab title="Realizar sorteo" rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.estadoCampeonatoSinCrear}">
					
					<h:form style="width: 100% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
					
						<div class="form-group">
							<div class="col-sm-12">
							
								<h:panelGrid columns="1" width="100%">
								
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="bolerasOcupadas1Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Boleras ocupadas Fase I (Separar codigos con -):" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="bolerasOcupadas1Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.bolerasOcupadasFI}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="bolerasOcupadas1Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="bolerasOcupadas2Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Boleras ocupadas Fase OF/CF (Separar codigos con -):" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="bolerasOcupadas2Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.bolerasOcupadasOFCF}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="bolerasOcupadas2Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
								
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones1Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 1:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones1Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato1}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones1Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones2Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 2:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones2Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato2}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones2Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones3Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 3:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones3Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato3}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones3Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones4Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 4:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones4Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato4}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones4Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones5Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 5:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones5Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato5}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones5Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones6Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 6:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones6Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato6}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones6Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
									<h:column>
										<div class="col-sm-2">
											<p:outputLabel for="observaciones7Input" class="control-label" style="text-align: left;padding-top:2px;width:100%;" value="Observaciones Campeonato 7:" />
										</div>
										
										<div class="col-sm-8">
												<p:inputTextarea id="observaciones7Input"
													required="true"
													value="#{campeonatoMasculinoIndividualPrimeraAddFacade.observacionesCampeonato7}"
													disabled="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"
													style="text-align: left;padding-top:2px;width:100%;"/>						
										</div>
										
										<div class="col-sm-2">
											<p:message for="observaciones7Input"  display="icon" style="height:24px;width:100%;padding: 2px 3px"/>
										</div>
									</h:column>
									
								</h:panelGrid>
								
							</div>
	
						</div>
						
						
						<div class="form-group">
							<div class="col-sm-12">
								<div class="form-group">

							        <div class="lowButtons my-buttons">
										<h:commandButton value="Realizar Sorteo" styleClass="button btn btn-primary" 
											actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doRealizarSorteoCampeonato()}"
											rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"/>
										<h:commandButton value="Borrar Sorteo" styleClass="button btn btn-primary" 
											actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doBorrarSorteo()}"
											rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.sorteoRealizado}"/>
										<h:commandButton value="Confirmar Sorteo" styleClass="button btn btn-primary" 
											actionListener="#{campeonatoMasculinoIndividualPrimeraAddFacade.doConfirmarSorteoCampeonato()}"
											rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.sorteoRealizado}"/>
										<h:outputText value="Se han de cerrar las fases del campeonato para realizar el sorteo." 
											rendered="#{!campeonatoMasculinoIndividualPrimeraAddFacade.fasesCerradas}"/>
										<h:outputText value="El sorteo ya se ha realizado." 
											rendered="#{campeonatoMasculinoIndividualPrimeraAddFacade.sorteoRealizado}"/>
									</div>
								</div>
							</div>
						</div>
						
					</h:form>

					</p:tab>

				</p:tabView>

			
		
		
		
	</ui:fragment>
	
	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI1') or !sessionState.logged}">
	
		<div class="list-title">
			<h:outputText value="No dispone de permisos para visualizar esta pagina" />
		</div>	
	
	</ui:fragment>
			
	</ui:define>




</ui:composition>


</html>

