<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayoutClasif.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato de Equipos de Asturias - 3ª Categoria"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentCla">
	
	    <p:dataTable var="info" value="#{campeonatoTerceraFacade.resultListClasificacion}" 
	    			 reflow="true" rows="#{campeonatoTerceraFacade.rowsPaginatorClasificacion}" paginator="false" 
	    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
	    			 paginatorPosition="bottom"
	    			 rowIndexVar="index"
	    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : (index eq 5 ? 'penultimo' : (index eq 6 ? 'ultimo' : 'normal')))}">
	 
			<f:facet name="header">
	    		<div class="list-title">
					<h:outputText value="Clasificación"/>
				</div>
	    	</f:facet>

	        <p:column headerText="Pos" style="text-align:right">
	            <h:outputText value="#{index+1}" />
	        </p:column>
	        
	        <p:column headerText="Equipo">
	            <h:outputText value="#{info.equipo.nombre}" />
	        </p:column>
	        
	        <p:column headerText="Jug"  style="text-align:right">
	            <h:outputText value="#{info.jugados}" />
	        </p:column>
	        
	        <p:column headerText="Gan" width="10%" style="text-align:right">
	            <h:outputText value="#{info.ganados}" />
	        </p:column>
	        
	        <p:column headerText="Emp" width="10%" style="text-align:right">
	            <h:outputText value="#{info.empatados}" />
	        </p:column>
	        
	        <p:column headerText="Der" width="10%" style="text-align:right">
	            <h:outputText value="#{info.perdidos}" />
	        </p:column>
	        
	        <p:column headerText="Part.+" width="12%" style="text-align:right">
	            <h:outputText value="#{info.partidasFavor}" />
	        </p:column>
	        
	        <p:column headerText="Part.-" width="12%" style="text-align:right">
	            <h:outputText value="#{info.partidasContra}" />
	        </p:column>
	        
	        <p:column headerText="Pun" width="12%" style="text-align:right">
	            <h:outputText value="#{info.puntos}" />
	        </p:column>
	 

	    </p:dataTable>
	</ui:define>
	
	<ui:define name="contentCal">
	
		<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal" enctype="multipart/form-data">
	
	    <p:dataTable var="info" value="#{campeonatoTerceraFacade.resultListCalendario}" 
	    			 reflow="true" rows="#{campeonatoTerceraFacade.rowsPaginatorCalendario}" paginator="true"
	    			 currentPageReportTemplate="Jornada {currentPage}"
					 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
	    			 paginatorPosition="bottom">
	 
			<f:facet name="header">
	    		<div class="list-title">
					<h:outputText value="Calendario"/>
				</div>
	    	</f:facet>

	        <p:column headerText="Fecha" width="10%">
	        	<div style="text-align:center">
		            <h:outputText value="#{info.fecha}" >
		            	<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
		            </h:outputText>
	        	</div>
	        </p:column>
	        
	        <p:column headerText="Hora" width="5%" style="text-align:center">
	            <h:outputText value="#{info.hora}" >
	            	<f:convertDateTime type="date" pattern="HH:mm"/>
	            </h:outputText>
	        </p:column>
	        
	        <p:column headerText="Bolera" width="10%">
	            <h:outputText value="#{info.equipo1.bolera.bolera}" />
	        </p:column>
	        
	        <p:column headerText="Local" width="15%">
	        	<p:graphicImage url="#{info.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
	            <h:outputText value="#{info.equipo1.nombre}" />
	        </p:column>
	        
	        <p:column headerText="" width="5%" style="text-align:center">
	        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoTerceraFacade.getPermisoActualizarResultado(info.equipo1Id))}">
	            	<h:outputText value="#{info.pgequipo1}" />
	            </ui:fragment>
	            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoTerceraFacade.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
	            		<p:inputText value="#{info.pgequipo1}" maxlength="1" size="1"
								 rendered="#{info.modificable}"/>
						 <h:outputText value="#{info.pgequipo1}" rendered="#{!info.modificable}"/>
	            </ui:fragment>
	        </p:column>
	        
	        <p:column headerText="" width="5%" style="text-align:center">
	        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoTerceraFacade.getPermisoActualizarResultado(info.equipo1Id))}">
	            	<h:outputText value="#{info.pgequipo2}" />
	            </ui:fragment>
	            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoTerceraFacade.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
	            		<p:inputText value="#{info.pgequipo2}" maxlength="1" size="1"
								 rendered="#{info.modificable}"/>
						 <h:outputText value="#{info.pgequipo2}" rendered="#{!info.modificable}"/>
	            </ui:fragment>
	        </p:column>
	        
	        <p:column headerText="Visitante" width="15%">
	            <p:graphicImage url="#{info.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
	            <h:outputText value="#{info.equipo2.nombre}" />
	        </p:column>
	        
	        <p:column width="5%" rendered="#{sessionState.logged}">
				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoTerceraFacade.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
	            		<h:commandLink action="#{campeonatoTerceraFacade.doActualizarResultadoLiga(info)}"
				        	title="Guardar Resultado" 
								 rendered="#{info.modificable}">
				           	<span class="fas fa-save" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
				        </h:commandLink>
	            </ui:fragment>
	            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoTerceraFacade.getPermisoConfirmarResultado(info.equipo2Id)) and sessionState.logged}">
	            		<h:commandLink action="#{campeonatoTerceraFacade.doConfirmarResultado(info)}"
				        	title="Confirmar Resultado" 
								 rendered="#{info.modificable}">
				           	<span class="fas fa-check-circle" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
				        </h:commandLink>
	            </ui:fragment>
	        </p:column>
	        
			<p:column headerText="Foto" width="5%">
		        <h:commandLink action="#{campeonatoTerceraFacade.doDownloadFile(info)}"
		        	title="Descargar Foto">
		           	<span class="fas fa-download" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
		        </h:commandLink>
			</p:column>
			
			
			<p:column headerText="Foto pizarra" rendered="#{sessionState.logged}">
				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoTerceraFacade.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
					<h:commandButton value="Subir" action="#{campeonatoTerceraFacade.subir(info)}" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"/>
					<p:separator/>
					<p:fileUpload value="#{campeonatoTerceraFacade.file}"  mode="simple" allowTypes="/(\.|\/)(jpe?g|png|jpg)$/" 
					label="" skinSimple="true"/>
				</ui:fragment>
			</p:column>
	        	        
	    </p:dataTable>
	    
	</h:form>
	</ui:define>
	
	

</ui:composition>


</html>