<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayoutClasifFemenino.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato de Liga Femenina de Asturias"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentFases">
	
		<p:tabView>
				
			<p:tab title="Calendario">
			
				
				
					<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
				
				    <p:dataTable var="info" value="#{campeonatoLigaFemeninaFacade.resultListCalendario}" 
				    			 reflow="true" rows="#{campeonatoLigaFemeninaFacade.rowsPaginatorCalendario}" paginator="true"
				    			 currentPageReportTemplate="Jornada {currentPage}"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowStyleClass="#{info.puntos eq 1 ? 'primero' : (info.puntos eq 2 ? 'segundo' : 'normal')}">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Calendario"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Fecha" width="10%">
				        	<div style="text-align:center">
					            <h:outputText value="#{info.fecha}" >
					            	<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
					            </h:outputText>
				        	</div>
				        </p:column>
				        
				        <p:column headerText="Hora" width="5%" style="text-align:center">
				            <h:outputText value="#{info.hora}" >
				            	<f:convertDateTime type="date" pattern="HH:mm"/>
				            </h:outputText>
				        </p:column>
				        
				        <p:column headerText="Bolera" width="10%">
				            <h:outputText value="#{info.bolera.bolera}" />
				        </p:column>
				        
				        <p:column headerText="Jugadora">
				            <h:outputText value="#{info.jugadora.nombre}" />
				        </p:column>
				        
				        <p:column headerText="Tirada" style="text-align:center">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23))}">
				            	<h:outputText value="#{info.tirada}" />
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<p:inputText value="#{info.tirada}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.tirada}" rendered="#{!info.modificable}"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="Sacada" style="text-align:center">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23))}">
				            	<h:outputText value="#{info.sacada}" />
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<p:inputText value="#{info.sacada}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.sacada}" rendered="#{!info.modificable}"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="Total" style="text-align:center">
				        	<h:outputText value="#{info.totalTantos}" />
				        </p:column>
				        
				        <p:column headerText="Puntos" style="text-align:center">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23))}">
				            	<h:outputText value="#{info.puntos}" />
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<p:inputText value="#{info.puntos}" maxlength="2" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.puntos}" rendered="#{!info.modificable}"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column width="5%" rendered="#{sessionState.logged}">
							<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<h:commandLink action="#{campeonatoLigaFemeninaFacade.doActualizarResultadoLiga(info)}"
							        	title="Guardar Resultado" 
											 rendered="#{info.modificable}">
							           	<span class="fas fa-save" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
							        </h:commandLink>
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade.getPermisoConfirmarResultado(23)) and sessionState.logged}">
				            		<h:commandLink action="#{campeonatoLigaFemeninaFacade.doConfirmarResultado(info)}"
							        	title="Confirmar Resultado" 
											 rendered="#{info.modificable}">
							           	<span class="fas fa-check-circle" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
							        </h:commandLink>
				            </ui:fragment>
				        </p:column>
				        	        
				    </p:dataTable>
				    
				</h:form>
				
			
			</p:tab>
			
			<p:tab title="Clasificacion">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaFemeninaFacade.resultListClasificacion}" 
				    			 reflow="true" rows="#{campeonatoLigaFemeninaFacade.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos" style="text-align:right">
				            <h:outputText value="#{index+1}" />
				        </p:column>
				        
				        <p:column headerText="Jugadora">
				            <h:outputText value="#{info.jugadora.nombre}" />
				        </p:column>
				        
				        <p:column headerText="Tirada"  style="text-align:center">
				            <h:outputText value="#{info.puntosTirada}" />
				        </p:column>
				        
			   	        <p:column headerText="Sacada"  style="text-align:center">
				            <h:outputText value="#{info.puntosSacada}" />
				        </p:column>
				        
    			        <p:column headerText="Total" style="text-align:center">
				        	<h:outputText value="#{info.totalTantos}" />
				        </p:column>
				        
			   	        <p:column headerText="Puntos"  style="text-align:center">
				            <h:outputText value="#{info.puntos}" />
				        </p:column>
			
				    </p:dataTable>
				
				
			</p:tab>
			
		</p:tabView>
		
	</ui:define>
	
</ui:composition>


</html>