<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayoutClasifIndividual.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato Femenino Individual de Asturias"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
		</center>	
	</ui:define>
	

	
	<ui:define name="contentFases">
	
		<ui:fragment rendered="#{!campeonatoFemeninoIndividualFacade.sorteoFinalizado}">
			<div class="list-title">
				<h:outputText value="El campeonato no esta disponible. Pendiente de celebrar."/>
			</div>
		</ui:fragment>
	
		<ui:fragment rendered="#{campeonatoFemeninoIndividualFacade.sorteoFinalizado}">	
	
		<p:tabView id="tabViewId">
		    <c:forEach items="#{campeonatoFemeninoIndividualFacade.resultListFasesTabShow}" var="aTab">
		          <p:tab title="#{aTab.nombre}">

		          
		          		<ui:fragment rendered="#{aTab.faseGrupo}">
		          		
		          		<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
		          		
						    <p:dataTable var="info" value="#{campeonatoFemeninoIndividualFacade.getResultListClasificacionFaseIByGrupo(aTab.grupo)}" 
						    			 reflow="true" rows="#{campeonatoFemeninoIndividualFacade.getRowsPaginatorClasificacionFaseIByGrupo(aTab.grupo)}" paginator="false" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index"
						    			 rowStyleClass="#{index le (campeonatoFemeninoIndividualFacade.getFase(aTab.fase).clasifican-1) ? 'primero' : 'normal'}">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación #{aTab.nombre} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos" style="text-align:right">
						            <h:outputText value="#{index+1}" />
						        </p:column>
						        
						        <p:column headerText="Jugador">
						            <h:outputText value="#{info.jugador.nombreEquipoShow}" />
						        </p:column>
						        
						        <p:column headerText="Jug"  style="text-align:right">
						            <h:outputText value="#{info.pj}" />
						        </p:column>
						        
						        <p:column headerText="Gan" width="10%" style="text-align:right">
						            <h:outputText value="#{info.pg}" />
						        </p:column>
						        
						        <p:column headerText="Emp" width="10%" style="text-align:right">
						            <h:outputText value="#{info.pe}" />
						        </p:column>
						        
						        <p:column headerText="Der" width="10%" style="text-align:right">
						            <h:outputText value="#{info.pp}" />
						        </p:column>
						        
						        <p:column headerText="Part.+" width="12%" style="text-align:right">
						            <h:outputText value="#{info.pf}" />
						        </p:column>
						        
						        <p:column headerText="Part.-" width="12%" style="text-align:right">
						            <h:outputText value="#{info.pc}" />
						        </p:column>
						        
						        <p:column headerText="Pun" width="12%" style="text-align:right">
						            <h:outputText value="#{info.pt}" />
						        </p:column>
						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
						    
    						<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI1') and sessionState.logged}">
								<div class="form-group" style="padding-left: 15px;">
									<div class="col-sm-12">
										<div class="form-group">
									        <div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Octavos de final" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToOctavosFinal(aTab.grupo)}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Cuartos de final (Grupos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToCuartosFinal(aTab.grupo)}"
													rendered="#{campeonatoFemeninoIndividualFacade.activoClasificarCuartosForGrupos}"/>
												<h:commandButton value="Clasificar a Cuartos de final (Octavos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToCuartosFinal()}"
													rendered="#{campeonatoFemeninoIndividualFacade.activoClasificarCuartosForOctavos}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Semifinales (Grupos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToSemifinal(aTab.grupo)}"
													rendered="#{campeonatoFemeninoIndividualFacade.activoClasificarSemifinalesForGrupos}"/>
												<h:commandButton value="Clasificar a Semifinales (Cuartos)" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToSemifinal()}"
													rendered="#{campeonatoFemeninoIndividualFacade.activoClasificarSemifinalesForCuartos}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Final Consolacion" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToFinalConsolacion()}"/>
											</div>
											<div class="lowButtons my-buttons">
												<h:commandButton value="Clasificar a Final" styleClass="button btn btn-primary" 
													actionListener="#{campeonatoFemeninoIndividualFacade.doClasificarToFinal()}"/>
											</div>
										</div>
									</div>
								</div>
							</ui:fragment>
							
						    <p:dataTable var="info" value="#{campeonatoFemeninoIndividualFacade.getResultListCalendarioFaseIByGrupo(aTab.grupo)}" 
						    			 reflow="true" rows="#{campeonatoFemeninoIndividualFacade.getRowsPaginatorCalendarioFaseIByGrupo(aTab.grupo)}" paginator="true"
						    			 currentPageReportTemplate=" "
										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						    			 paginatorPosition="bottom">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Calendario #{aTab.nombre}"/>
									</div>
						    	</f:facet>
						 
						        <p:column headerText="Fecha" width="10%">
						        	<div style="text-align:center">
							            <h:outputText value="#{campeonatoFemeninoIndividualFacade.getFase(aTab.fase).fecha}"/>
						        	</div>
						        </p:column>
						        
						        <p:column headerText="Hora" width="5%" style="text-align:center">
						            <h:outputText value="#{campeonatoFemeninoIndividualFacade.getFase(aTab.fase).hora}"/>
						        </p:column>
						        
						        <p:column headerText="Bolera" width="10%">
						            <h:outputText value="#{info.bolera.bolera}" />
						        </p:column>
						        
						        <p:column headerText="Orden" width="5%">
						            <h:outputText value="#{info.orden}" />
						        </p:column>
						        
						        <p:column headerText="Inicia" width="5%">
						            <h:outputText value="#{info.inicia}" />
						        </p:column>
						        
						        <p:column headerText="Local" width="15%">
						            <p:graphicImage url="#{info.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
									<h:outputText value="#{info.jugador1.nombreEquipoShow}" />
						        </p:column>
						        
						        <p:column headerText="" width="5%" style="text-align:center">
						        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoFemeninoIndividualFacade.getPermisoGrupo(aTab.grupo))}">
						            	<h:outputText value="#{info.juegosJugador1}" />
						            </ui:fragment>
						            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoFemeninoIndividualFacade.getPermisoGrupo(aTab.grupo)) and sessionState.logged}">
						            		<p:inputText value="#{info.juegosJugador1}" maxlength="1" size="1"
													 rendered="#{info.modificable}"/>
											 <h:outputText value="#{info.juegosJugador1}" rendered="#{!info.modificable}"/>
						            </ui:fragment>
						        </p:column>
						        
						        <p:column headerText="" width="5%" style="text-align:center">
						        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoFemeninoIndividualFacade.getPermisoGrupo(aTab.grupo))}">
						            	<h:outputText value="#{info.juegosJugador2}" />
						            </ui:fragment>
						            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoFemeninoIndividualFacade.getPermisoGrupo(aTab.grupo)) and sessionState.logged}">
						            		<p:inputText value="#{info.juegosJugador2}" maxlength="1" size="1"
													 rendered="#{info.modificable}"/>
											<h:outputText value="#{info.juegosJugador2}" rendered="#{!info.modificable}"/>
						            </ui:fragment>
						        </p:column>
						        
						        <p:column headerText="Visitante" width="15%">
						        	<p:graphicImage url="#{info.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
						            <h:outputText value="#{info.jugador2.nombreEquipoShow}" />
						        </p:column>
						        
								<p:column headerText="" width="5%">
									<ui:fragment rendered="#{sessionState.hasPermission(campeonatoFemeninoIndividualFacade.getPermisoGrupo(aTab.grupo)) and sessionState.logged}">
										<h:commandLink action="#{campeonatoFemeninoIndividualFacade.doActualizarResultadoGrupos(info)}"
							        		title="Guardar"
							        		rendered="#{info.modificable}">
							           		<span class="fas fa-save" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
							       	 	</h:commandLink>
							       	 </ui:fragment>
								</p:column>					        
						        
						        
						    </p:dataTable>
						
						</h:form>
						    
					    </ui:fragment>
					    
					    <ui:fragment rendered="#{!aTab.faseGrupo}">
					    
					    <h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
					    
					    	<ui:fragment rendered="#{aTab.grupo == 'GR'}">
								<p:tree value="#{campeonatoFemeninoIndividualFacade.cuadro}" var="node" orientation="horizontal"
										 style="width: 100%;height: 100px;overflow: auto;display: block">
							        <p:treeNode>
							        	<h:panelGrid columns="1" cellpadding="1" >
							        		<p:column>
							            		<h:outputText value="#{campeonatoFemeninoIndividualFacade.getExtractCampeonNode(node)}" style="font-weight: bold;color: blue;"/>
							            	</p:column>
									        <p:column>
							            		<h:outputText value="#{campeonatoFemeninoIndividualFacade.getExtractJugadorNode(node)}" style="font-weight: bold;"/>
							            	</p:column>
							            	<p:column>
							            		<h:outputText value="#{campeonatoFemeninoIndividualFacade.getExtractEquipoNode(node)}" />
							            	</p:column>
							            </h:panelGrid>
							        </p:treeNode>
							    </p:tree>
					    	</ui:fragment>
					    	
					    	<ui:fragment rendered="#{aTab.grupo != 'GR'}">
					    
							    <p:dataTable var="info" value="#{campeonatoFemeninoIndividualFacade.getResultListCalendarioByCruceDirecto(aTab.fase)}" 
							    			 reflow="true"
											 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;">
							    			 
									<f:facet name="header">
							    		<div class="list-title">
											<h:outputText value="Calendario #{aTab.nombre}"/>
										</div>
							    	</f:facet>
							 
							        <p:column headerText="Fecha" width="10%">
							        	<div style="text-align:center">
								            <h:outputText value="#{campeonatoFemeninoIndividualFacade.getFase(aTab.fase).fecha}"/>
							        	</div>
							        </p:column>
							        
							        <p:column headerText="Hora" width="5%" style="text-align:center">
							            <h:outputText value="#{campeonatoFemeninoIndividualFacade.getFase(aTab.fase).hora}"/>
							        </p:column>
							        
							        <p:column headerText="Bolera" width="10%">
							            <h:outputText value="#{info.bolera.bolera}" />
							        </p:column>
							        
							        <p:column headerText="Orden" width="5%">
							            <h:outputText value="#{info.orden}" />
							        </p:column>
							        
							        <p:column headerText="Cruce" width="5%">
							            <h:outputText value="#{info.idCruce}" />
							        </p:column>
							        
							        <p:column headerText="Inicia" width="5%">
							            <h:outputText value="#{info.inicia}" />
							        </p:column>
							        
							        <p:column headerText="Local" width="15%">
							            <p:graphicImage url="#{info.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
										<h:outputText value="#{info.jugador1.nombreEquipoShow}" rendered="#{ not empty info.jugador1}"/>
										<h:outputText value="#{info.origenJugador1}" rendered="#{empty info.jugador1}"/>
							        </p:column>
							        
							        <p:column headerText="Part 1" width="5%" style="text-align:center">
							        	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI1ARFF') or !sessionState.logged}">
							            	<h:outputText value="#{info.partida1}" />
							            </ui:fragment>
							            <ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI1ARFF') and sessionState.logged}">
							            		<p:inputText value="#{info.juegosJugador1P1}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="-" rendered="#{info.modificable}"/>
												<p:inputText value="#{info.juegosJugador2P1}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="#{info.partida1}" rendered="#{!info.modificable}"/>
							            </ui:fragment>
							        </p:column>
							        
							        <p:column headerText="Part 2" width="5%" style="text-align:center">
							        	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI1ARFF') or !sessionState.logged}">
							            	<h:outputText value="#{info.partida2}" />
							            </ui:fragment>
							            <ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI1ARFF') and sessionState.logged}">
							            		<p:inputText value="#{info.juegosJugador1P2}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="-" rendered="#{info.modificable}"/>
												<p:inputText value="#{info.juegosJugador2P2}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="#{info.partida2}" rendered="#{!info.modificable}"/>
							            </ui:fragment>
							        </p:column>
	
							        <p:column headerText="Part 3" width="5%" style="text-align:center">
							        	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGEI1ARFF') or !sessionState.logged}">
							            	<h:outputText value="#{info.partida3}" />
							            </ui:fragment>
							            <ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI1ARFF') and sessionState.logged}">
							            		<p:inputText value="#{info.juegosJugador1P3}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="-" rendered="#{info.modificable}"/>
												<p:inputText value="#{info.juegosJugador2P3}" maxlength="1" size="1"
														 rendered="#{info.modificable}"/>
												<h:outputText value="#{info.partida3}" rendered="#{!info.modificable}"/>
							            </ui:fragment>
							        </p:column>
							        
							        <p:column headerText="Visitante" width="15%">
							        	<p:graphicImage url="#{info.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
							            <h:outputText value="#{info.jugador2.nombreEquipoShow}" rendered="#{not emptyinfo.jugador2}"/>
							            <h:outputText value="#{info.origenJugador2}" rendered="#{empty info.jugador2}"/>
							        </p:column>
							        
									<p:column headerText="" width="5%">
										<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEI1ARFF') and sessionState.logged}">
											<h:commandLink action="#{campeonatoFemeninoIndividualFacade.doActualizarResultadosEnfrentamientoDirecto(aTab.fase, info)}"
								        		title="Guardar"
								        		rendered="#{info.modificable}">
								           		<span class="fas fa-save" style="padding-top:3px;padding-right:5px;font-size:1.25em; color:Dodgerblue;"></span>
								       	 	</h:commandLink>
								       	 </ui:fragment>
									</p:column>	
							        
							    </p:dataTable>
							    
							</ui:fragment>
							
						</h:form>
					    
					    </ui:fragment>
					    
		          
		          </p:tab>
		    </c:forEach>
		</p:tabView>
		
		</ui:fragment>
		
	</ui:define>
	
	<ui:define name="contentInscritos">
		<ui:fragment rendered="#{!campeonatoFemeninoIndividualAddFacade.estadoCampeonatoSinCrear}">
		
			<p:tabView>
			
				<p:tab title="Definición Campeonato">
				
					<div class="form-group">
						<div class="col-sm-12">
				
							<h:panelGrid columns="6" width="100%">
							
								<h:column>
									<p:outputLabel for="anyofechaMaxInscripcionInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Fecha max. inscripción"/>
								</h:column>
								
								<h:column>
									<p:outputLabel 	id="diafechaMaxInscripcionInput"
													value="#{campeonatoFemeninoIndividualAddFacade.diaFechaMaxInscripcion}"/>
									<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
									<p:outputLabel 	id="mesfechaMaxInscripcionInput"
													value="#{campeonatoFemeninoIndividualAddFacade.mesFechaMaxInscripcion}"/>
									<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
									<p:outputLabel 	id="anyofechaMaxInscripcionInput"
													value="#{campeonatoFemeninoIndividualAddFacade.anyoFechaMaxInscripcion}"/>
								</h:column>
								
								<h:column>
									<p:message for="anyofechaMaxInscripcionInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
								<h:column>
									<p:outputLabel for="estadoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Estado:" />
								</h:column>
								
								<h:column>
										<p:outputLabel id="estadoInput"
											value="#{campeonatoFemeninoIndividualAddFacade.estadoCampeonato}"/>						
								</h:column>
								
								<h:column>
									<p:message for="estadoInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
								<h:column>
									<p:outputLabel for="boleraInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Bolera Final:" />
								</h:column>
								
								<h:column>
										<p:outputLabel id="boleraInput" value="#{campeonatoFemeninoIndividualAddFacade.nombreBolera}"/>						
								</h:column>
								
								<h:column>
									<p:message for="boleraInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
							</h:panelGrid>
							
						</div>
					</div>
	
					<div class="form-group">
	
					</div>
	
				</p:tab>
				
				<p:tab title="Jugadores inscritos" rendered="#{!campeonatoFemeninoIndividualAddFacade.estadoCampeonatoSinCrear}">
				
					<h:panelGrid columns="12" width="100%">
					
					</h:panelGrid>
					
					<div class="form-group">
						<h:outputText value="Total jugadores inscritos: #{campeonatoFemeninoIndividualAddFacade.totalRowsParticipantes}" />
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-12">
							<div class="form-group">
							    <p:dataTable var="info" value="#{campeonatoFemeninoIndividualAddFacade.resultListParticipantes}" 
							    			 reflow="true" 
					    			 		 rows="#{campeonatoFemeninoIndividualAddFacade.maxRowsPaginator}" 
					    			 		 paginator="#{campeonatoFemeninoIndividualAddFacade.enabledPaginatorParticipantes}" 
							    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
		    			 					 paginatorPosition="bottom">
							 
							        <p:column headerText="Nombre" width="auto">
							            <h:outputText value="#{info.jugador.nombre}" />
							        </p:column>
							 
							        <p:column headerText="Apodo">
							            <h:outputText value="#{info.jugador.apodoShow}" />
							        </p:column>
							        
							        <p:column headerText="Equipo">
							            <h:outputText value="#{equiposFacade.readName(info.jugador.equipoId)}" />
							        </p:column>
							 
							    </p:dataTable>
	
	
	
	
						        <div class="lowButtons my-buttons">
								</div>
							</div>
						</div>
					</div>
					
	
				</p:tab>
				
		        <p:tab title="Instrucciones campeonato">
			        <h:panelGrid columns="1" cellpadding="10">
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato1}" />
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato2}" />
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato3}" />
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato4}" />
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato5}" />
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato6}" />
			            <h:outputText value="#{campeonatoFemeninoIndividualFacade.observacionesCampeonato7}" />    
		        	</h:panelGrid>
		        </p:tab>
			
			</p:tabView>
		</ui:fragment>	
             
	</ui:define>
	




</ui:composition>


</html>