<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="SELECCIONAR CATEGORIA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 95% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
				
				
				<div class="form-group">
				</div>
		
				<div class="form-group">
					<div class="col-sm-12">
					
						<div class="form-group">
						    <p:dataTable var="info" value="#{fichaEquipoFacade.categoriasMasculinoList}" 
						    			 reflow="true" 
				    			 		 rows="#{fichaEquipoFacade.maxRowsPaginator}" 
				    			 		 paginator="#{fichaEquipoFacade.enabledPaginator}" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
	    			 					 paginatorPosition="bottom">
	    			 					 
	    			 			<p:column headerText="" width="5%">
									<h:commandButton id="selectedButton" styleClass="iconselectedbutton" 
										title="Seleccionar" action="#{fichaEquipoFacade.doSelectedCategoria(info.id)}">
					        	    </h:commandButton>
						        </p:column>
						 
						        <p:column headerText="Categoria" width="auto">
						            <h:outputText value="#{info.id}" />
						        </p:column>
						 
						        <p:column headerText="Nombre">
						            <h:outputText value="#{info.nombreCategoria}" />
						        </p:column>
						 
						    </p:dataTable>
						</div>
						
					</div>
					
					
				</div>
				
				<div class="form-group">
					<div class="lowButtons my-buttons">
						<h:commandButton id="cancelButton" styleClass="button btn btn-info" 
							value="Cancelar" action="#{fichaEquipoFacade.doCancelFichaPareja()}" 
							rendered="#{sessionState.logged}" immediate="true">
						</h:commandButton>
	        	    </div>
				</div>
				

			</h:form>

		</div>

	</ui:define>



</ui:composition>


</html>

