<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="CONTACTO" />
				</div>
			</div>
			<div style="padding-bottom: 1%"></div>
		</center>
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="main_content_all_3_rows floatleft">
				<div class="single_left_coloum_wrapper">
					<h2 class="title">
						<h:outputText value="#{contactoFacade.titleOrganizacion}" />
					</h2>
					<div class="single_left_coloum_2part floatleft">
						<p>
							<b><h:outputText value="#{contactoFacade.emailText}" /></b>
							<h:outputText value="#{contactoFacade.emailOrganizacion}" />
							<p/>
							<h:outputText value="#{contactoFacade.detalleOrganizacion}" />
						</p>
					</div>
				</div>
			</div>
			<div class="main_content_all_3_rows floatleft">
				<div class="single_left_coloum_wrapper">
					<h2 class="title">
						<h:outputText value="#{contactoFacade.titleCompeticiones}" />
					</h2>
					<div class="single_left_coloum_2part floatleft">
						<p>
							<b><h:outputText value="#{contactoFacade.emailText}" /></b>
							<h:outputText value="#{contactoFacade.emailCompeticiones}" />
							<p/>
							<h:outputText value="#{contactoFacade.detalleCompeticiones}" />
						</p>
					</div>
				</div>
			</div>
			<div class="main_content_all_3_rows floatleft">
				<div class="single_left_coloum_wrapper">
					<h2 class="title">
						<h:outputText value="#{contactoFacade.titleSanciones}" />
					</h2>
					<div class="single_left_coloum_2part floatleft">
						<p>
							<b><h:outputText value="#{contactoFacade.emailText}" /></b>
							<h:outputText value="#{contactoFacade.emailSanciones}" />
							<p/>
							<h:outputText value="#{contactoFacade.detalleSanciones}" />
						</p>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>




</ui:composition>


</html>

