<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="DOCUMENTOS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>
	
<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
    <p:graphicImage name="/demo/images/ajaxloadingbar.gif" />
</p:dialog>

	<ui:define name="content">
		<h:form>
			<p:dataTable var="info" value="#{documentosFacade.resultList}"
				reflow="true" rows="#{documentosFacade.maxRowsPaginator}"
				paginator="#{documentosFacade.enabledPaginator}"
				tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
				paginatorPosition="bottom">

				<p:column headerText="Descripcion" width="95%">
					<h:outputText value="#{info.descripcion}" />
				</p:column>
				
				<p:column headerText="Descargar" width="5%">
					<h:commandButton id="downloadButton" styleClass="icondownloadbutton" 
						title="Descargar" action="#{documentosFacade.doDownloadFile(info)}">
	        	    </h:commandButton>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>

</html>

