<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="EQUIPOS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
		    <p:dataTable var="info" value="#{equiposFacade.resultList}" 
		    			 reflow="true"
		    			 rows="#{equiposFacade.maxRowsPaginator}" 
	    			 	 paginator="#{equiposFacade.enabledPaginator}" 
		    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
		    			 paginatorPosition="bottom">
		    			 
		        <p:column headerText="" width="4%">
					<h:commandButton id="viewButton" styleClass="iconview32button" 
						title="Ver" action="#{fichaEquipoFacade.doSelected(info.id)}">
	        	    </h:commandButton>
		        </p:column>
		 
		        <p:column headerText="Logo" width="5%" style="text-align: center">
		            <p:graphicImage url="#{info.logo}" height="25px" width="25px"/>
		        </p:column>
		 
		        <p:column headerText="Nombre" width="30%">
		            <h:outputText value="#{info.nombre}" />
		        </p:column>
		 
		        <p:column headerText="Categoria" width="30%">
		            <h:outputText value="#{info.categoria.nombreCategoria}" />
		        </p:column>
		        
		        <p:column headerText="Bolera" width="30%">
		            <h:outputText value="#{info.bolera.bolera}" />
		        </p:column>
		 
		    </p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>


</html>

