<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<h:inputHidden value="#{fichaEquipoFacade.miEquipo}"/>
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Gestión de Datos del Equipo: #{fichaEquipoFacade.equipo.nombre}"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>


	<ui:define name="content">
	
	<ui:fragment rendered="#{sessionState.hasPermission('BCMEFE') and sessionState.logged}">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
				
				
				<div class="form-group">
				</div>
		
				<div class="form-group">
					<div class="col-sm-2">
						<p:graphicImage url="#{fichaEquipoFacade.equipo.logo}" height="175px" width="150px"/>
					</div>
					<div class="col-sm-10">
					
						<div class="form-group">
					
							<p:outputLabel for="categoriaInput" class="col-sm-2 control-label" style="text-align: left;padding-top:2px"
								value="Categoria:" />
							<div class="col-sm-3">
								<p:inputText id="categoriaInput"
											disabled="true"
											value="#{fichaEquipoFacade.equipo.categoria.nombreCategoria}"/>
							</div>
							
							<p:outputLabel for="boleraInput" class="col-sm-2 control-label" style="text-align: left;padding-top:2px"
								value="Bolera:" />
							<div class="col-sm-3" >
								<p:inputText id="boleraInput"
											disabled="true"
											value="#{fichaEquipoFacade.equipo.bolera.bolera}"/>
							</div>
							
						</div>
						
						<div class="form-group">
					
							<p:outputLabel class="col-sm-2 control-label" style="text-align: left;padding-top:2px"
								value="Horario Preferente:" />
								
							<div class="col-sm-10">
							
				        	   	<div class="lowButtons my-buttons">
												
	       							<h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteSabado1100()}" value="Sabado 11:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteSabado1100Si}" styleClass="button btn btn-success"/>
							        <h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteSabado1100()}" value="Sabado 11:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteSabado1100No}" styleClass="button btn btn-danger"/>
		       						<h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteSabado1600()}" value="Sabado 16:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteSabado1600Si}" styleClass="button btn btn-success"/>
							        <h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteSabado1600()}" value="Sabado 16:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteSabado1600No}" styleClass="button btn btn-danger"/>
		       						<h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteDomingo1100()}" value="Domingo 11:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteDomingo1100Si}" styleClass="button btn btn-success"/>
							        <h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteDomingo1100()}" value="Domingo 11:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteDomingo1100No}" styleClass="button btn btn-danger"/>
		       						<h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteDomingo1600()}" value="Domingo 16:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteDomingo1600Si}" styleClass="button btn btn-success"/>
							        <h:commandLink action="#{fichaEquipoFacade.doHorarioPreferenteDomingo1600()}" value="Domingo 16:00"
		       								rendered="#{fichaEquipoFacade.horarioPreferenteDomingo1600No}" styleClass="button btn btn-danger"/>
		       								
		       					</div>
							</div>
							
						</div>	
						
						<div class="form-group">
					
							<p:outputLabel for="emailInput" class="col-sm-2 control-label" style="text-align: left;padding-top:2px"
								value="Email:" />
							<div class="col-sm-8">
								<p:inputText id="emailInput"
										disabled="#{!sessionState.hasPermission('BCMEFJ')}"
										value="#{fichaEquipoFacade.equipo.email}"
										required="true"
										size="30"
										maxlength="50"/>
								<h:commandLink action="#{fichaEquipoFacade.doActualizarEmail()}" value="Actualizar Email"
		       								rendered="#{sessionState.hasPermission('BCMEFJ')}"
		       								styleClass="button btn btn-info"/>
							</div>
							
						</div>
							
						<div class="form-group">
						    <p:dataTable var="info" value="#{fichaEquipoFacade.equipo.jugadoresList}" 
						    			 reflow="true" 
				    			 		 rows="#{fichaEquipoFacade.maxRowsPaginator}" 
				    			 		 paginator="#{fichaEquipoFacade.enabledPaginator}" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
	    			 					 paginatorPosition="bottom">
						 
						        <p:column headerText="" width="5%" rendered="#{sessionState.hasPermission('BCMEFJ')}">
									<h:commandButton id="editButton" styleClass="iconeditbutton" 
										title="Editar" action="#{fichaJugadorFacade.doSelected(info.id)}">
					        	    </h:commandButton>
						        </p:column>
						        
						        <p:column headerText="Nombre" width="auto">
						            <h:outputText value="#{info.nombre}" />
						        </p:column>
						 
						        <p:column headerText="Apodo">
						            <h:outputText value="#{info.apodo}" />
						        </p:column>
						        
						        <p:column headerText="Num. Ficha">
						            <h:outputText value="#{info.numeroFicha}" />
						        </p:column>
						        
						        <p:column headerText="Email">
						            <h:outputText value="#{info.email}" />
						        </p:column>
						        
						        <p:column headerText="Teléfono">
						            <h:outputText value="#{info.telefono}" />
						        </p:column>
						        
						        <p:column headerText="Edad">
						            <h:outputText value="#{info.edad}" />
						        </p:column>
						        
						        <p:column headerText="Activo">
						            <h:outputText value="#{info.activo}" />
						        </p:column>
						 
						    </p:dataTable>
						</div>
						
						<div class="form-group">
			        	   	<div class="lowButtons my-buttons">
				        	    <h:commandButton id="insertButton" styleClass="button btn btn-primary" 
									value="Crear" action="#{fichaJugadorFacade.doCreate()}" 
									rendered="#{sessionState.hasPermission('BCMEFJCR') and sessionState.logged}">
				        	    </h:commandButton>
				        	    <h:commandButton id="inscripcionIndividualButton" styleClass="button btn btn-primary" 
									value="Inscripción Individual" action="#{fichaEquipoFacade.doInscripcionIndividual()}" 
									rendered="#{sessionState.hasPermission('BCMEFJIIN') and sessionState.logged}">
				        	    </h:commandButton>
				        	    <h:commandButton id="inscripcionParejasButton" styleClass="button btn btn-primary" 
									value="Inscripción Parejas" action="#{fichaEquipoFacade.doInscripcionParejas()}"
									rendered="#{sessionState.hasPermission('BCMEFJIPA') and sessionState.logged}">
				        	    </h:commandButton>

							</div>
						</div>
						
					</div>
					
					
				</div>
				

			</h:form>

		</div>
		
	</ui:fragment>
		
	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEFE') or !sessionState.logged}">
	
		<div class="list-title">
			<h:outputText value="No dispone de permisos para visualizar esta pagina" />
		</div>	
	
	</ui:fragment>

	</ui:define>

</ui:composition>


</html>