<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="HISTORIA" />
				</div>
			</div>
			<div style="padding-bottom: 1%"></div>
		</center>
	</ui:define>

	<ui:define name="content">
		<h:form>
		<div class="main_content_all floatleft">
			<div class="single_left_coloum_wrapper">
				<h2 class="title"><h:outputText value="#{historiaFacade.titleHistoria}"/></h2>
				<div class="single_left_coloum_2part floatleft">
					
					<p>
						<h:outputText value="#{historiaFacade.parrafoHistoria1}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoHistoria2}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoHistoria3}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoHistoria4}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoHistoria5}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoHistoria6}"/>
					</p>
				</div>
			</div>
			<div class="single_left_coloum_wrapper">
				<h2 class="title"><h:outputText value="#{historiaFacade.titleBolera}"/></h2>
				<div class="single_left_coloum_2part floatleft">
					
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolera1}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolera2}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolera3}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolera4}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolera5}"/>
					</p>
				</div>
			</div>
			<div class="single_left_coloum_wrapper">
				<h2 class="title"><h:outputText value="#{historiaFacade.titlePuntuacion}"/></h2>
				<div class="single_left_coloum_2part floatleft">
					
					<p>
						<h:outputText value="#{historiaFacade.parrafoPuntuacion1}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoPuntuacion2}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoPuntuacion3}"/>
					</p>
				</div>
			</div>
			<div class="single_left_coloum_wrapper">
				<h2 class="title"><h:outputText value="#{historiaFacade.titleBolosBolas}"/></h2>
				<div class="single_left_coloum_2part floatleft">
					
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolosBolas1}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolosBolas2}"/>
					</p>
					<p>
						<h:outputText value="#{historiaFacade.parrafoBolosBolas3}"/>
					</p>
				</div>
			</div>
		</div>
		</h:form>
	</ui:define>




</ui:composition>


</html>

