<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="HISTORIA CAMPEONATOS DE ESPAÑA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		
		<p:tabView id="tabViewId">
		    <c:forEach items="#{historiaCampeonatoEspana.resultListAnyoTabShow}" var="aTab">
		          <p:tab title="#{aTab}">
		          
						    <p:dataTable var="info" value="#{historiaCampeonatoEspana.getResultListHistoricoCampeonatoEspanaIndividualByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Individual año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos">
						            <h:outputText value="#{index+1}" />
						        </p:column>
						        
						        <p:column headerText="Localidad">
						            <h:outputText value="#{info.localidad}" />
						        </p:column>
						        
						        <p:column headerText="Jugador">
						            <h:outputText value="#{info.nombre}" />
						        </p:column>
						        
						        <p:column headerText="Comunidad Aut.">
						            <h:outputText value="#{info.comunidad}" />
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoEspana.getResultListHistoricoCampeonatoEspanaParejasByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Parejas año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos">
						            <h:outputText value="#{index+1}" />
						        </p:column>
						        
						        <p:column headerText="Localidad">
						            <h:outputText value="#{info.localidad}" />
						        </p:column>
						        
						        <p:column headerText="Jugador">
						            <h:outputText value="#{info.nombre}" />
						        </p:column>
						        
						        <p:column headerText="Comunidad Aut.">
						            <h:outputText value="#{info.comunidad}" />
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
						    <p:dataTable var="info" value="#{historiaCampeonatoEspana.getResultListHistoricoCampeonatoEspanaEquiposByAnyo(aTab)}" 
						    			 reflow="true" paginator="false" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
						    			 paginatorPosition="bottom"
						    			 rowIndexVar="index">
						    			 
								<f:facet name="header">
						    		<div class="list-title">
										<h:outputText value="Clasificación Equipos año: #{aTab} "/>
									</div>
						    	</f:facet>
					
						        <p:column headerText="Pos">
						            <h:outputText value="#{index+1}" />
						        </p:column>
						        
						        <p:column headerText="Localidad">
						            <h:outputText value="#{info.localidad}" />
						        </p:column>
						        
						        <p:column headerText="Jugador">
						            <h:outputText value="#{info.nombre}" />
						        </p:column>
						        
						        <p:column headerText="Comunidad Aut.">
						            <h:outputText value="#{info.comunidad}" />
						        </p:column>

						    </p:dataTable>
						    
						    <div class="form-group">
	
							</div>
							
		          </p:tab>
		    </c:forEach>
		</p:tabView>
		
	</ui:define>




</ui:composition>


</html>

