<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content">
		<div class="slider_area">
			<div class="sliderc">
				<ul class="bxslider">
					<li>
						<h:graphicImage value="template_1.0/images/slider1.jpg" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/slider2.jpg" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/slider3.jpg" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/slider4.jpg" styleClass="slider_bc"/>
					</li>
				</ul>
			</div>
		</div>
	</ui:define>



</ui:composition>


</html>