<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato Individual de Asturias: Inscripción jugadores"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
			
				<p:messages id="msgs" style="text-align: left"/>
				
				
				<div class="form-group">
				</div>
		
				<div class="form-group">
				
						    <p:dataTable var="info" value="#{fichaEquipoFacade.equipo.jugadoresList}" 
						    			 reflow="true" 
				    			 		 rows="#{fichaEquipoFacade.maxRowsPaginator}" 
				    			 		 paginator="#{fichaEquipoFacade.enabledPaginator}" 
						    			 tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
	    			 					 paginatorPosition="bottom">
						 
						        <p:column headerText="Nombre" width="auto">
						            <h:outputText value="#{info.nombre}" />
						        </p:column>
						 
						        <p:column headerText="Apodo">
						            <h:outputText value="#{info.apodo}" />
						        </p:column>
						        
						        <p:column headerText="Inscribir para Categoria">
         							<h:commandLink action="#{fichaEquipoFacade.doInscribirPrimera(info)}" title="Inscripción Primera"
         								rendered="#{fichaEquipoFacade.isInscribibleMasculino(info, 1) and campeonatoMasculinoIndividualPrimeraAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_1.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade.doDesinscribirPrimera(info)}" title="Anular Inscripción Primera"
         								rendered="#{fichaEquipoFacade.isDesinscribibleMasculino(info, 1) and campeonatoMasculinoIndividualPrimeraAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_1_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
         							<h:commandLink action="#{fichaEquipoFacade.doInscribirSegunda(info)}" title="Inscripción Segunda"
         								rendered="#{fichaEquipoFacade.isInscribibleMasculino(info, 2) and campeonatoMasculinoIndividualSegundaAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_2.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
         							<h:commandLink action="#{fichaEquipoFacade.doDesinscribirSegunda(info)}" title="Anular Inscripción Segunda"
         								rendered="#{fichaEquipoFacade.isDesinscribibleMasculino(info, 2) and campeonatoMasculinoIndividualSegundaAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_2_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade.doInscribirTercera(info)}" title="Inscripción Tercera"
         								rendered="#{fichaEquipoFacade.isInscribibleMasculino(info, 3) and campeonatoMasculinoIndividualTerceraAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_3.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade.doDesinscribirTercera(info)}" title="Anular Inscripción Tercera"
         								rendered="#{fichaEquipoFacade.isDesinscribibleMasculino(info, 3) and campeonatoMasculinoIndividualTerceraAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_3_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade.doInscribirFemenino(info)}" title="Inscripción Femenino"
         								rendered="#{fichaEquipoFacade.isInscribibleFemenino(info, 4) and campeonatoFemeninoIndividualAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_F.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade.doDesinscribirFemenino(info)}" title="Anular Inscripción Femenino"
         								rendered="#{fichaEquipoFacade.isDesinscribibleFemenino(info, 4) and campeonatoFemeninoIndividualAddFacade.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_F_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
						        </p:column>
						        
						        <p:column headerText="Inscrito en Categoria">
						           	<h:graphicImage value="template_1.0/images/categoria_1.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade.isInscritoIndividualPrimera(info)}" title="Inscripción Primera"/>
						           	<h:graphicImage value="template_1.0/images/categoria_2.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade.isInscritoIndividualSegunda(info)}" title="Inscripción Segunda"/>
						           	<h:graphicImage value="template_1.0/images/categoria_3.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade.isInscritoIndividualTercera(info)}" title="Inscripción Tercera"/>
						           	<h:graphicImage value="template_1.0/images/categoria_F.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade.isInscritoIndividualFemenino(info)}" title="Inscripción Femenino"/>
						        </p:column>
						        
						        
						        						 
						    </p:dataTable>

					<div class="form-group">

					</div>
					
				</div>
				
				<div class="form-group">
					<div class="lowButtons my-buttons">
						<h:commandButton id="cancelButton" styleClass="button btn btn-info" 
							value="Cancelar" action="#{fichaEquipoFacade.doCancel()}" 
							rendered="#{sessionState.logged}" immediate="true">
						</h:commandButton>
	        	    </div>
				</div>

			</h:form>

		</div>

	</ui:define>

</ui:composition>

</html>
