<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Acceso usuario" />
				</div>
			</div>
			<div style="padding-bottom: 1%"></div>
		</center>
	</ui:define>

	<ui:define name="content">
		<center>

			<div
				style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border; border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">
				
				<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">

					<p:messages id="msgs" style="text-align: left"/>

					<ui:fragment>
						<div class="form-group"></div>
						
						
						<div class="form-group">
						
							<div class="col-sm-18" style="padding-left:0px;">
					
								<div class="col-sm-1" style="padding-left:0px;">
									<p:message for="userInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</div>
								<div class="col-sm-3" style="padding-left:0px;">
									<p:outputLabel for="userInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Usuario:" />
								</div>
								<div class="col-sm-5" style="padding-left:0px;">
									<p:inputText id="userInput"
												required="true"
												value="#{authenticator.user}"
												size="30"/>	
								</div>
								
							</div>
							
							<div class="col-sm-18" style="padding-left:0px;">
					
								<div class="col-sm-1" style="padding-left:0px;">
									<p:message for="passInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</div>
								<div class="col-sm-3" style="padding-left:0px;">
									<p:outputLabel for="passInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Contraseña:" />
								</div>
								<div class="col-sm-5" style="padding-left:0px;">
									<p:password id="passInput"
												required="true"
												value="#{authenticator.pass}"
												size="30"/>	
								</div>
								
							</div>
						
						</div>

						<div class="form-group">
							<div class="lowButtonsCenter my-buttons">
								<h:commandButton id="loginButton"
									styleClass="button btn btn-primary" value="Login"
									action="#{authenticator.doLogin()}"
									rendered="#{!sessionState.logged}">
								</h:commandButton>
							</div>
						</div>
					</ui:fragment>

				</h:form>

			</div>


		</center>
	</ui:define>



</ui:composition>


</html>