<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="PATROCINADORES"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:dataTable var="info" value="#{patrocinadoresFacade.resultList}"
				reflow="true" rows="#{patrocinadoresFacade.maxRowsPaginator}"
				paginator="#{patrocinadoresFacade.enabledPaginator}"
				tableStyle="width: 100%; white-space: nowrap; table-layout: auto;"
				paginatorPosition="bottom">
				
		        <p:column headerText="Patrocinador" width="20%" style="text-align: center">
		        	<h:commandLink action="#{menuView.doAppRedirect(info.web)}" styleClass="youtube" target="_blank">
						<p:graphicImage url="#{info.logo}" style="height:150px;width:300px;max-width: none;"/>
					</h:commandLink>
		        </p:column>

				<p:column headerText="Información" width="80%">
					<h:outputText value="Nombre:       " style="font-weight: bold"/>
					<h:outputText value="#{info.patrocinador}" />
					<p/>
					<h:outputText value="Contacto:     " style="font-weight: bold"/>
					<h:outputText value="#{info.telefono}" />
					<p/>
					<h:outputText value="Web:          " style="font-weight: bold"/>
					<h:outputText value="#{info.web}" />
					<p/>
					<h:outputText value="Descripción:  " style="font-weight: bold"/>
					<h:inputTextarea rows="6" cols="70" readonly="true" disabled="true" 
						value="#{info.descripcion}"  style="border-color: white"  />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>


</html>

