<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>
	<ui:composition>

				    <p:tabView>
				    
						<p:tab title="Explicacion puntos">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="- PIA (Puntos Individual Asturias) : 1º = 10 puntos / 2º = 8 puntos / 3º = 6 puntos / 4º = 4 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PPA (Puntos Parejas Asturias) : 1º = 7 puntos / 2º = 5 puntos / 3º = 3 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- PEA (Puntos Equipos Asturias) : 1º = 5 puntos / 2º = 3 puntos / 3º = 2 puntos / 4º = 1 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PMA (Puntos Mixto Asturias) : 1º = 7 puntos / 2º = 5 puntos / 3º = 3 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- PAA (Puntos Acabones Asturias) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PVA (Puntos Veteranos Asturias) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>

										<h:column>
											<h:outputText value="- PJA (Puntos Juveniles Asturias) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PIE (Puntos Individual España) : 1º = 10 puntos / 2º = 8 puntos / 3º = 6 puntos / 4º = 4 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- PPE (Puntos Parejas España) : 1º = 7 puntos / 2º = 5 puntos / 3º = 3 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PEE (Puntos Equipos España) : 1º = 5 puntos / 2º = 3 puntos / 3º = 2 puntos / 4º = 1 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- PME (Puntos Mixto España) : 1º = 7 puntos / 2º = 5 puntos / 3º = 3 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PVE (Puntos Veteranos España) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PJE (Puntos Juveniles España) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- PCA (Puntos Cadetes Asturias) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- PCE (Puntos Cadetes España) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- PLF (Puntos Liga Femenina) : 1º = 8 puntos / 2º = 6 puntos / 3º = 4 puntos / 4º = 2 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<p></p>
										
										<h:column>
											<h:outputText value="Por ejemplo: un jugador/jugadora que haya ganado el campeonato individual, su equipo haya quedado en 3 posición, subcampeón/a de parejas y 4 posición en el mixto."  
											styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- Individual: 10 puntos"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- Equipos: 2 puntos."  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- Parejas: 5 puntos."  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="- Mixto: 2 puntos."  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="TOTAL PUNTOS: 19."  styleClass="valueTextColumn"/>
										</h:column>
										
										<p></p>
										
										<h:column>
											<h:outputText value="**Los campeonatos de cadetes, juveniles y veteranos no computan para la clasificación final de primera, segunda y tercera, tan solo para cadetes, juveniles y veteranos."  
											styleClass="valueTextColumn"/>
										</h:column>
																			
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
						
						<p:tab title="Categorias premiadas">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="- Equipos (campeón de liga de primera categoria)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- A la trayectoria"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Primera categoria senior (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Segunda categoria senior (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Tercera categoria senior (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Veteranos (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Juveniles (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Cadetes (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Femenino (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>																			
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
										
					</p:tabView>	


	</ui:composition>
</h:body>
</html>