<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>
	<ui:composition>

				    <p:tabView>
				    
						<p:tab title="Explicacion puntos">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="PUNTUACION POR EQUIPO:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 puntos al candidato/a que se considera el mejor de la temporada de la lista final"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 puntos al candidato/a que se considera el segundo mejor de la temporada de la lista final"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 puntos al candidato/a que se considera el tercero mejor de la temporada de la lista final"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 puntos al candidato/a que se considera el cuarto mejor de la temporada de la lista final"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 punto al candidato/a que se considera el quinto mejor de la temporada de la lista final. (si hay 2 candidatos se otorga 1 punto a los 2)"  styleClass="valueTextColumn"/>
										</h:column>																			
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
						
						<p:tab title="Categorias premiadas">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="- Equipos (campeón de liga de primera categoria)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- A la trayectoria"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Primera categoria senior (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Segunda categoria senior (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Tercera categoria senior (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Veteranos (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Juveniles (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Cadetes (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- Femenino (votaciones)"  styleClass="valueTextColumn"/>
										</h:column>																			
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
					
						<p:tab title="Lista de finalistas">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="A las votaciones al MVP de la Temporada para cada categoría, solo acceden los 5 jugadores/jugadoras que más puntos hayan acumulado por méritos. (6 en caso de empate en la ultima plaza)"  styleClass="valueTextColumn"/>
										</h:column>
																		
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
						
						<p:tab title="Como se vota y ganadores">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="Las votaciones se comunican a la asociación por email ( competiciones.asociacion.bc@gmail.com ), la votación será por equipo y serán públicas las puntuaciones para que no haya dudas de 
											quién voto a quien, eliminando las suspicacias."  styleClass="valueTextColumn"/>
										</h:column>
										
										<p></p>
										
										<h:column>
											<h:outputText value="El jugador/a que mayor número de puntos sume en la votación final será el que reciba el premio MVP."  styleClass="valueTextColumn"/>
										</h:column>
										
										<p></p>
										
										<h:column>
											<h:outputText value="Para cada categoria se ha de indicar el nombre y los puntos otorgados. Por ejemplo:"  styleClass="valueTextColumn"/>
										</h:column>
										
										<p></p>
										
										<h:column>
											<h:outputText value="PRIMERA CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="SEGUNDA CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="TERCERA CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="VETERANOS CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="JUVENILES CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="CADETES CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										
										<h:column>
											<h:outputText value="FEMENINO CATEGORIA:"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 6 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 4 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 3 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 2 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
										<h:column>
											<h:outputText value="- 1 PUNTOS: NOMBRE DEL JUGADOR"  styleClass="valueTextColumn"/>
										</h:column>
																		
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
						
						<p:tab title="Entrega de trofeos">
					
							<div class="form-group">
								<div class="col-sm-12">
						
									<h:panelGrid columns="1" width="100%">
									
										<h:column>
											<h:outputText value="Los trofeos se entregarán en la gala anual que celebra el Ayuntamiento de Tineo para el 2022."  styleClass="valueTextColumn"/>
										</h:column>
																		
									</h:panelGrid>
								</div>
							</div>
							
						</p:tab>
					
					</p:tabView>

	</ui:composition>
</h:body>
</html>