<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:body>
	<ui:composition>


			<div class="header_area">
				<div class="logo floatleft">
					<h:graphicImage value="template_1.0/images/logo_header_2lines_small.png" styleClass="icon_logo"/>
				</div>
				<div class="top_menu floatleft">
					<h:form>
					<ul>
						<li>
							<h:commandLink action="#{menuView.doHome}" title="Inicio" value="Inicio"/>
						</li>
						<li>
							<h:commandLink action="#{menuView.doAccessHistoria}" title="Historia" value="Historia"/>
						</li>
						<li>
							<h:commandLink action="#{menuView.doAccessContacto}" title="Contacto" value="Contacto"/>
						</li>
						<li>
							<h:commandLink action="#{menuView.doAccessNoticias}" title="Noticias" value="Noticias"/>
						</li>
						<li>
							<h:commandLink action="#{menuView.doAccessPatrocinadores}" title="Patrocinio" value="Patrocinio"/>
						</li>
						<li>
							<h:commandLink action="#{authenticator.login}" title="Login" value="Login" rendered="#{!sessionState.logged}"/>
							<h:commandLink action="#{authenticator.doLogout}" title="Salir" value="Salir" rendered="#{sessionState.logged}"/>
						</li>
					</ul>
					</h:form>
				</div>
				<div class="search">
					<div class="ui-datatable-header ui-widget-header ui-corner-top">
						<div class="user-title">
							<h:outputText value="#{sessionState.userName}" rendered="#{sessionState.logged}"/>
							<h:outputText value="Sin usuario" rendered="#{!sessionState.logged}"/>
						</div>
					</div>						

				</div>

			</div>
			<ui:include src="/template_1.0/template/commonMenu.xhtml" />
		
		
	</ui:composition>
</h:body>
</html>


