<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title>Bolos Celta de Asturias</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="template_1.0/assets/font/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="template_1.0/assets/font/font.css" />
	<link rel="stylesheet" type="text/css" href="template_1.0/assets/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="template_1.0/assets/css/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="template_1.0/assets/css/responsive.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="template_1.0/assets/css/jquery.bxslider.css" media="screen" />
	
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<script type="text/javascript" src="template_1.0/assets/js/jquery-min.js"></script>
	<script type="text/javascript" src="template_1.0/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="template_1.0/assets/js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="template_1.0/assets/js/selectnav.min.js"></script>
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172749026-1');
</script>
<script async='async' src="https://www.googletagmanager.com/gtag/js?id=UA-172749026-1"></script>



</h:head>

<h:body id="body">
	<div class="body_wrapper">
		<div>
			<div class="center">
			
				<ui:include src="/template_1.0/template/commonHeader.xhtml" />
				<ui:include src="/template_1.0/template/commonContentClasifFemenino.xhtml" />
				<ui:include src="/template_1.0/template/commonFooter.xhtml" />
				
			</div>
		</div>
	</div>
</h:body>

	<script type="text/javascript">
		selectnav('nav', {
			label : '-Navigation-',
			nested : true,
			indent : '-'
		});
		selectnav('f_menu', {
			label : '-Navigation-',
			nested : true,
			indent : '-'
		});
		$('.bxslider').bxSlider({
			mode : 'fade',
			captions : true
		});
	</script>

</html>