<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<h:body>
	<ui:composition>

		<div class="main_menu_area">
			<h:form>
				<ul id="nav">
					<ui:fragment rendered="#{sessionState.hasPermission('BCMEGE') and sessionState.logged}">
						<li><a href="#">Admin</a>
							<ul>
								<ui:fragment rendered="#{sessionState.hasPermission('BCMEGELI') and sessionState.logged}">
									<li><a href="#">Gest. Camp. Liga</a>
										<ul>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoLiga}"
													title="Crear Calendario" value="Crear Calendario"
													rendered="#{sessionState.hasPermission('BCMEGELI1') and sessionState.logged}" />
											</li>
										</ul>
									</li>
								</ui:fragment>
								<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEIN') and sessionState.logged}">
									<li><a href="#">Gest. Camp. Individuales</a>
										<ul>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualPrimera}"
													title="Primera" value="Primera"
													rendered="#{sessionState.hasPermission('BCMEGEI1') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualSegunda}"
													title="Segunda" value="Segunda"
													rendered="#{sessionState.hasPermission('BCMEGEI2') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualTercera}"
													title="Tercera" value="Tercera"
													rendered="#{sessionState.hasPermission('BCMEGEI3') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualFemenino}"
													title="Femenino" value="Femenino"
													rendered="#{sessionState.hasPermission('BCMEGEIF') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualVeteranos}"
													title="Veterano" value="Veterano"
													rendered="#{sessionState.hasPermission('BCMEGEARIV') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualJuveniles}"
													title="Juvenil" value="Juvenil"
													rendered="#{sessionState.hasPermission('BCMEGEARIJ') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoIndividualCadetes}"
													title="Cadete" value="Cadete"
													rendered="#{sessionState.hasPermission('BCMEGEARIC') and sessionState.logged}" />
											</li>
										</ul>
									</li>
								</ui:fragment>
								<ui:fragment rendered="#{sessionState.hasPermission('BCMEGEPA') and sessionState.logged}">
									<li><a href="#">Gest. Camp. Parejas</a>
										<ul>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasPrimera}"
													title="Primera" value="Primera"
													rendered="#{sessionState.hasPermission('BCMEGEP1') and sessionState.logged}"/>
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasSegunda}"
													title="Segunda" value="Segunda"
													rendered="#{sessionState.hasPermission('BCMEGEP2') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasTercera}"
													title="Tercera" value="Tercera"
													rendered="#{sessionState.hasPermission('BCMEGEP3') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMasculinoParejasFemenino}"
													title="Femenino" value="Femenino"
													rendered="#{sessionState.hasPermission('BCMEGEPF') and sessionState.logged}" />
											</li>
											<li>
												<h:commandLink
													action="#{menuView.doAccessCampeonatoMixtoParejas}"
													title="Mixto" value="Mixto"
													rendered="#{sessionState.hasPermission('BCMEGEPM') and sessionState.logged}" />
											</li>
									</ul></li>
								</ui:fragment>
							
					</ul></li>
					</ui:fragment>
					<ui:fragment rendered="#{sessionState.hasPermission('BCMEFE') and sessionState.logged}">
						<li>
							<a href="http://www.bolocelta.es/bolocelta/fichaEquipo.xhtml">Mi Equipo</a>
						</li>
					</ui:fragment>
					<li><a href="#">Informacion</a>
						<ul>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/boleras.xhtml">Boleras</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/equipos.xhtml">Equipos</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/calendario.xhtml">Calendario</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Liga</a>
						<ul>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoEquiposPrimera.xhtml">Equipos 1ª</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoEquiposSegunda.xhtml">Equipos 2ª</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoEquiposTercera.xhtml">PEÑA LA RESAKA (3ª Equipos)</a>
							</li>	
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoLigaFemenina.xhtml">Femenina POPULIS</a>
							</li>	
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoLigaInfantil.xhtml">Infantil LA GRIEGA 2022</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoLigaInfantil2023.xhtml">Infantil LA GRIEGA 2023</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Individual</a>
						<ul>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoMasculinoIndividualPrimera.xhtml">TALLERES CJ TINEO EUROMASTER (1ª)</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoMasculinoIndividualSegunda.xhtml">TALLERES CJ TINEO EUROMASTER (2ª)</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoMasculinoIndividualTercera.xhtml">TALLERES CJ TINEO EUROMASTER (3ª)</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoFemeninoIndividual.xhtml">Femenino LIBRERIA - KIOSKO VICTOR</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoVeteranosIndividual.xhtml">Veteranos JGPA</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoJuvenilesIndividual.xhtml">Juveniles JGPA</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoCadetesIndividual.xhtml">Cadetes JGPA</a>
							</li>
						</ul>
					</li>
					<li><a href="#">Parejas</a>
						<ul>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoMasculinoParejasPrimera.xhtml">Parejas 1ª</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoMasculinoParejasSegunda.xhtml">Parejas 2ª</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoMasculinoParejasTercera.xhtml">Parejas 3ª</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoParejasFemenino.xhtml">Femenino</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoParejasMixto.xhtml">Mixto CAFE-BAR MONTESOL</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoVeteranosParejas.xhtml">Veteranos JGPA</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoJuvenilesParejas.xhtml">Juveniles JGPA</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/campeonatoCadetesParejas.xhtml">Cadetes JGPA</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="http://www.bolocelta.es/bolocelta/premioMVP.xhtml">Premios MVP</a>
					</li>
					<li>
						<a href="http://www.bolocelta.es/bolocelta/documentos.xhtml">Documentos</a>
					</li>
					<li><a href="#">Historico</a>
						<ul>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/historiaCampeonatosEspana.xhtml">Campeonatos España</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/historiaCampeonatosAsturias.xhtml">Campeonatos Asturias</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta2021">Temporada 2021</a>
							</li>
							<li>
								<a href="http://www.bolocelta.es/bolocelta2020">Temporada 2020</a>
							</li>
						</ul>
					</li>
					<li><a href="#">TV</a>
						<ul>
							<li>
								<a href="http://www.bolocelta.es/bolocelta/tutorial.xhtml">Tutorial</a>
							</li>
						</ul>
					</li>
				</ul>
			</h:form>
		</div>
	

	</ui:composition>
</h:body>
</html>


