<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<h:body>
	<ui:composition>

		<div class="footer_top_area">
			<div class="inner_footer_top">
				<div class="slider_area_an">
					<div class="slider">

						<div class="container">
						  <div id="myCarousel" class="carousel slide" data-ride="carousel">
						    <!-- Wrapper for slides -->
						    <div class="carousel-inner">
						      <div class="item active">
								<h:form>
									<a href="https://turismotineo.es/experiencias/" target="_blank">
										<p:graphicImage value="template_1.0/images/experiencias-turismo-tineo-2.jpg"/>
									</a>
								</h:form>
						      </div>

						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_tallerescjtineo_euromaster.png" alt="" style="width:100%;"/>
						      </div>
						      
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_lagriega.png" alt="" style="width:100%;"/>
						      </div>

						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_populis.png" alt="" style="width:100%;"/>
						      </div>
						      
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_penalaresaka.png" alt="" style="width:100%;"/>
						      </div>
						      
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_estanco_victor_navelgas.png" alt="" style="width:100%;"/>
						      </div>
						      
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_bar_montesol.png" alt="" style="width:100%;"/>
						      </div>
						
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/anuncios/anuncios_jgpa.jpg" alt="" style="width:100%;"/>
						      </div>
						    


						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/planpatrocinio/plan_patrocinio_estandar.png" alt="" style="width:100%;"/>
						      </div>

						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/planpatrocinio/plan_patrocinio_liga_primera_2022.png" alt="" style="width:100%;"/>
						      </div>
						      
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/planpatrocinio/plan_patrocinio_liga_segunda_2022.png" alt="" style="width:100%;"/>
						      </div>

						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/planpatrocinio/plan_patrocinio_parejas_masculino_2022.png" alt="" style="width:100%;"/>
						      </div>
						      
						      <div class="item">
						        <h:graphicImage	value="template_1.0/images/planpatrocinio/plan_patrocinio_parejas_femenino_2022.png" alt="" style="width:100%;"/>
						      </div>
						      
						    </div>
						  </div>
						</div>

					</div>
				</div>
			</div>


		</div>
		
		
		
		
		


	</ui:composition>
</h:body>
</html>