<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="BOLERAS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
	
		<h:form>
			<p:dataTable var="info" value="#{bolerasFacade2022.resultList}"
				reflow="true" rows="#{bolerasFacade2022.maxRowsPaginator}"
				paginator="#{bolerasFacade2022.enabledPaginator}"
				tableStyle="width: 100%; table-layout: auto;"
				paginatorPosition="bottom"
				emptyMessage="No hay datos.">

				<p:column headerText="Bolera" width="40%" styleClass="headerTextColumn">
					<h:outputText value="#{info.bolera}" styleClass="valueTextColumn"/>
				</p:column>

				<p:column headerText="Localización" width="40%" styleClass="headerTextColumn">
					<h:outputText value="#{info.localizacion}" styleClass="valueTextColumn"/>
				</p:column>
				
				<p:column headerText="Ubicación" width="10%" styleClass="headerTextColumn">
		        	<h:commandLink target="_blank" styleClass="iconubicacionbutton" 
						title="Ubicacion"  action="#{menuView.doAppRedirect(info.ubicacion)}">
	        	    </h:commandLink>
				</p:column>

				<p:column headerText="Federada" width="20%" styleClass="headerTextColumn">
					<h:outputText value="#{info.federada}" styleClass="valueTextColumn"/>
				</p:column>
			</p:dataTable>
		</h:form>
		
		<div class="slider_area">
			<div class="sliderc">
				<ul class="bxslider">
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_calleras.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_campiello.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_ellauredal.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_fastias.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_villayon.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_lamina.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_lamorgal.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_laoteda.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_sanroque.png" styleClass="slider_bc"/>
					</li>
					<li>
						<h:graphicImage value="template_1.0/images/boleras/bolera_ventalaire.png" styleClass="slider_bc"/>
					</li>
				</ul>
			</div>
		</div>
		
	</ui:define>
	
</ui:composition>


</html>

