<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="CALENDARIO TEMPORADA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:accordionPanel>

				<p:tab title="CALENDARIO ASTURIAS">
					<p:dataTable var="info"
						value="#{calendarioAsturiasFacade2022.resultList}" reflow="true"
						rows="#{calendarioAsturiasFacade2022.maxRowsPaginator}"
						paginator="#{calendarioAsturiasFacade2022.enabledPaginator}"
						tableStyle="width: 100%; table-layout: auto;"
						paginatorPosition="bottom"
						emptyMessage="No hay datos.">

						<p:column headerText="Fecha desde" width="10%" styleClass="headerTextColumn">
							<h:outputText value="#{info.fechaDesde}" styleClass="valueTextColumn">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
							</h:outputText>
						</p:column>

						<p:column headerText="Fecha hasta" width="10%" styleClass="headerTextColumn">
							<h:outputText value="#{info.fechaHasta}" styleClass="valueTextColumn">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
							</h:outputText>
						</p:column>

						<p:column headerText="Modalidad" width="20%" styleClass="headerTextColumn">
							<h:outputText value="#{info.modalidad.modalidad}"  styleClass="valueTextColumn"/>
						</p:column>

						<p:column headerText="Categoria" width="20%" styleClass="headerTextColumn">
							<h:outputText value="#{info.categoria.nombreCategoria}"  styleClass="valueTextColumn"/>
						</p:column>

						<p:column headerText="Campeonato" width="40%" styleClass="headerTextColumn">
							<h:outputText value="#{info.nombreCampeonato}"  styleClass="valueTextColumn"/>
						</p:column>


					</p:dataTable>
				</p:tab>
				<p:tab title="CALENDARIO ESPAÑA">
					<p:dataTable var="info"
						value="#{calendarioEspanaFacade2022.resultList}" reflow="true"
						rows="#{calendarioEspanaFacade2022.maxRowsPaginator}"
						paginator="#{calendarioEspanaFacade2022.enabledPaginator}"
						tableStyle="width: 100%; table-layout: auto;"
						paginatorPosition="bottom"
						emptyMessage="No hay datos.">

						<p:column headerText="Fecha desde" width="10%" styleClass="headerTextColumn">
							<h:outputText value="#{info.fechaDesde}" styleClass="valueTextColumn">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Fecha hasta" width="10%" styleClass="headerTextColumn">
							<h:outputText value="#{info.fechaHasta}" styleClass="valueTextColumn">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Nombre" width="30%" styleClass="headerTextColumn">
							<h:outputText value="#{info.nombreCampeonato}"  styleClass="valueTextColumn"/>
						</p:column>

						<p:column headerText="Localización" width="25%" styleClass="headerTextColumn">
							<h:outputText value="#{info.localizacion}"  styleClass="valueTextColumn"/>
						</p:column>

						<p:column headerText="Provincia" width="25%" styleClass="headerTextColumn">
							<h:outputText value="#{info.provincia}"  styleClass="valueTextColumn"/>
						</p:column>


					</p:dataTable>
				</p:tab>
			</p:accordionPanel>
		</h:form>
	</ui:define>




</ui:composition>


</html>

