<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayoutClasifJuveniles.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato de Individual de Juveniles JGPA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentFases">

				<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal" enctype="multipart/form-data">
		
	
		<p:tabView>
			
			<p:tab title="Clasificacion">
			    <p:dataTable var="info" value="#{campeonatoJuvenilesIndividualFacade2022.resultListClasificacion}" 
			    			 reflow="true" rows="#{campeonatoJuvenilesIndividualFacade2022.rowsPaginatorClasificacion}" paginator="false" 
			    			 tableStyle="width: 100%;  table-layout: auto;"
			    			 paginatorPosition="bottom"
			    			 rowIndexVar="index"
			    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : (index eq 2 ? 'segundo' : (index eq 3 ? 'segundo' : 'normal')))}"
			    			 emptyMessage="No hay datos.">
			 
					<f:facet name="header">
			    		<div class="list-title">
							<h:outputText value="Clasificación"/>
						</div>
			    	</f:facet>

		            <p:columnGroup type="header">
		                <p:row>
		                    <p:column rowspan="6" headerText="Pos" styleClass="headerTextColumn"/>
		                    <p:column rowspan="6" headerText="Jugador" styleClass="headerTextColumn"/>
		                    <p:column rowspan="6" rendered="#{sessionState.logged}" headerText="" styleClass="headerTextColumn"/>
		                    <p:column rowspan="6" headerText="Total" styleClass="headerTextColumn"/>
		                    <p:column colspan="10" headerText="Bolada / Sacada" styleClass="headerTextColumn"/>
		                </p:row>
		                <p:row>
		                	<p:row>
		                    	<p:column headerText="1 T" styleClass="headerTextColumn"/>
		                    	<p:column headerText="2 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="3 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="4 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="5 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="6 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="7 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="8 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="9 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="10 T" styleClass="headerTextColumn"/>
		                   	</p:row>
		                	<p:row>
		                    	<p:column headerText="1 S" styleClass="headerTextColumn"/>
		                    	<p:column headerText="2 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="3 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="4 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="5 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="6 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="7 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="8 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="9 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="10 S" styleClass="headerTextColumn"/>
		                   	</p:row>
			                <p:row>
		                    	<p:column headerText="11 T" styleClass="headerTextColumn"/>
		                    	<p:column headerText="12 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="13 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="14 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="15 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="16 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="17 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="18 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="19 T" styleClass="headerTextColumn"/>
			                    <p:column headerText="20 T" styleClass="headerTextColumn"/>		               		
							</p:row>
			                <p:row>
		                    	<p:column headerText="11 S" styleClass="headerTextColumn"/>
		                    	<p:column headerText="12 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="13 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="14 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="15 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="16 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="17 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="18 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="19 S" styleClass="headerTextColumn"/>
			                    <p:column headerText="20 S" styleClass="headerTextColumn"/>		               		
							</p:row>
		               </p:row>
		
		            </p:columnGroup>
            
	        <p:column>
	             <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column>
	            <h:outputText value="#{info.jugador.nombreEquipoShow}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
     		<p:column width="5%" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
		        	<h:commandButton styleClass="iconsavebutton" 
						title="Guardar" action="#{campeonatoJuvenilesIndividualFacade2022.doActualizarClasificacion(info)}">
	        	    </h:commandButton>
	        	    <p/>
		        	<h:commandButton id="refreshButton" styleClass="iconrefreshbutton" 
						title="Confirmar Resultado" action="#{campeonatoJuvenilesIndividualFacade2022.doConfirmarResultado(info)}">
	        	    </h:commandButton>
	            </ui:fragment>
	        </p:column>
	        
	        <p:column>
	            <h:outputText value="#{info.totalPuntosFinal}"  styleClass="valueTextColumn"/>
	        </p:column>

			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada1}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada1}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada1}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada1}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada11}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada11}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada11}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada11}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada2}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada2}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada2}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada2}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada12}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada12}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada12}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada12}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada3}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada3}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada3}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada3}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada13}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada13}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada13}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada13}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada4}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada4}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada4}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada4}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada14}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada14}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada14}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada14}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada5}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada5}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada5}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada5}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada15}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada15}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada15}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada15}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada6}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada6}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada6}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada6}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada16}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada16}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada16}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada16}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada7}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada7}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada7}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada7}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada17}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada17}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada17}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada17}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada8}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada8}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada8}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada8}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada18}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada18}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada18}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada18}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada9}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada9}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada9}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada9}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada19}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada19}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada19}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada19}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada10}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada10}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada10}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada10}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosTirada20}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosTirada20}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and !info.modificable}">
			            		<p:inputText value="#{info.puntosSacada20}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) or info.modificable}">
				            	<h:outputText value="#{info.puntosSacada20}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				     	</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>

		    </p:dataTable>
		</p:tab>
		
		
          <p:tab title="Cuartos de final">

          		
			    <p:dataTable var="infoCF" value="#{campeonatoJuvenilesIndividualFacade2022.resultListCalendarioFaseCF}" 
			    			 reflow="true"
							 tableStyle="width: 100%;  table-layout: auto;"
							 emptyMessage="No hay datos.">
			    			 
					<f:facet name="header">
			    		<div class="list-title">
							<h:outputText value="Calendario SEMIFINALES"/>
						</div>
			    	</f:facet>
			    	
					<p:column headerText="" width="5%" styleClass="headerTextColumn">
						<ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoCF.modificable}">
				        	<h:commandButton styleClass="iconsavebutton" 
								title="Guardar" action="#{campeonatoJuvenilesIndividualFacade2022.doActualizarResultadosEnfrentamientoDirectoCF(infoCF)}"
				        		rendered="#{infoCF.modificable}">
			        	    </h:commandButton>
				       	 </ui:fragment>
					</p:column>	
			 
			        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoCF.bolera.bolera}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Nº" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoCF.orden}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Cruce" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoCF.idCruce}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Inicia" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoCF.inicia}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Local" width="15%" styleClass="headerTextColumn">
			            <p:graphicImage url="#{infoCF.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
						<h:outputText value="#{infoCF.jugador1.nombreEquipoShow}" rendered="#{ not empty infoCF.jugador1}" styleClass="valueTextColumn"/>
						<h:outputText value="#{infoCF.origenJugador1}" rendered="#{empty infoCF.jugador1}" styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Part 1" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoCF.modificable}">
			            	<h:outputText value="#{infoCF.partida1}"  styleClass="valueTextColumn" />
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoCF.modificable}">
			            		<p:inputText value="#{infoCF.juegosJugador1P1}" maxlength="1" size="1"
										 rendered="#{infoCF.modificable}"/>
								<h:outputText value="-" rendered="#{infoCF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoCF.juegosJugador2P1}" maxlength="1" size="1"
										 rendered="#{infoCF.modificable}"/>
								<h:outputText value="#{infoCF.partida1}" rendered="#{!infoCF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>
			        
			        <p:column headerText="Part 2" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoCF.modificable}">
			            	<h:outputText value="#{infoCF.partida2}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoCF.modificable}">
			            		<p:inputText value="#{infoCF.juegosJugador1P2}" maxlength="1" size="1"
										 rendered="#{infoCF.modificable}"/>
								<h:outputText value="-" rendered="#{infoCF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoCF.juegosJugador2P2}" maxlength="1" size="1"
										 rendered="#{infoCF.modificable}"/>
								<h:outputText value="#{infoCF.partida2}" rendered="#{!infoCF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>

			        <p:column headerText="Part 3" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoCF.modificable}">
			            	<h:outputText value="#{infoCF.partida3}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoCF.modificable}">
			            		<p:inputText value="#{infoCF.juegosJugador1P3}" maxlength="1" size="1"
										 rendered="#{infoCF.modificable}"/>
								<h:outputText value="-" rendered="#{infoCF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoCF.juegosJugador2P3}" maxlength="1" size="1"
										 rendered="#{infoCF.modificable}"/>
								<h:outputText value="#{infoCF.partida3}" rendered="#{!infoCF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>
			        
			        <p:column headerText="Vistan." width="15%" styleClass="headerTextColumn">
			        	<p:graphicImage url="#{infoCF.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
			            <h:outputText value="#{infoCF.jugador2.nombreEquipoShow}" rendered="#{not emptyinfoCF.jugador2}" styleClass="valueTextColumn"/>
			            <h:outputText value="#{infoCF.origenJugador2}" rendered="#{empty infoCF.jugador2}" styleClass="valueTextColumn"/>
			        </p:column>
			        
		
			    </p:dataTable>
          </p:tab>
			
			
          <p:tab title="Semifinales">

          		
			    <p:dataTable var="infoSF" value="#{campeonatoJuvenilesIndividualFacade2022.resultListCalendarioFaseSF}" 
			    			 reflow="true"
							 tableStyle="width: 100%;  table-layout: auto;"
							 emptyMessage="No hay datos.">
			    			 
					<f:facet name="header">
			    		<div class="list-title">
							<h:outputText value="Calendario SEMIFINALES"/>
						</div>
			    	</f:facet>
			    	
					<p:column headerText="" width="5%" styleClass="headerTextColumn">
						<ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoSF.modificable}">
				        	<h:commandButton styleClass="iconsavebutton" 
								title="Guardar" action="#{campeonatoJuvenilesIndividualFacade2022.doActualizarResultadosEnfrentamientoDirectoSF(infoSF)}"
				        		rendered="#{infoSF.modificable}">
			        	    </h:commandButton>
				       	 </ui:fragment>
					</p:column>	
			 
			        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoSF.bolera.bolera}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Nº" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoSF.orden}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Cruce" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoSF.idCruce}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Inicia" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoSF.inicia}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Local" width="15%" styleClass="headerTextColumn">
			            <p:graphicImage url="#{infoSF.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
						<h:outputText value="#{infoSF.jugador1.nombreEquipoShow}" rendered="#{ not empty infoSF.jugador1}" styleClass="valueTextColumn"/>
						<h:outputText value="#{infoSF.origenJugador1}" rendered="#{empty infoSF.jugador1}" styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Part 1" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoSF.modificable}">
			            	<h:outputText value="#{infoSF.partida1}"  styleClass="valueTextColumn" />
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoSF.modificable}">
			            		<p:inputText value="#{infoSF.juegosJugador1P1}" maxlength="1" size="1"
										 rendered="#{infoSF.modificable}"/>
								<h:outputText value="-" rendered="#{infoSF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoSF.juegosJugador2P1}" maxlength="1" size="1"
										 rendered="#{infoSF.modificable}"/>
								<h:outputText value="#{infoSF.partida1}" rendered="#{!infoSF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>
			        
			        <p:column headerText="Part 2" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoSF.modificable}">
			            	<h:outputText value="#{infoSF.partida2}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoSF.modificable}">
			            		<p:inputText value="#{infoSF.juegosJugador1P2}" maxlength="1" size="1"
										 rendered="#{infoSF.modificable}"/>
								<h:outputText value="-" rendered="#{infoSF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoSF.juegosJugador2P2}" maxlength="1" size="1"
										 rendered="#{infoSF.modificable}"/>
								<h:outputText value="#{infoSF.partida2}" rendered="#{!infoSF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>

			        <p:column headerText="Part 3" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoSF.modificable}">
			            	<h:outputText value="#{infoSF.partida3}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoSF.modificable}">
			            		<p:inputText value="#{infoSF.juegosJugador1P3}" maxlength="1" size="1"
										 rendered="#{infoSF.modificable}"/>
								<h:outputText value="-" rendered="#{infoSF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoSF.juegosJugador2P3}" maxlength="1" size="1"
										 rendered="#{infoSF.modificable}"/>
								<h:outputText value="#{infoSF.partida3}" rendered="#{!infoSF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>
			        
			        <p:column headerText="Vistan." width="15%" styleClass="headerTextColumn">
			        	<p:graphicImage url="#{infoSF.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
			            <h:outputText value="#{infoSF.jugador2.nombreEquipoShow}" rendered="#{not emptyinfoSF.jugador2}" styleClass="valueTextColumn"/>
			            <h:outputText value="#{infoSF.origenJugador2}" rendered="#{empty infoSF.jugador2}" styleClass="valueTextColumn"/>
			        </p:column>
			        
		
			    </p:dataTable>
          </p:tab>
			
			

          <p:tab title="Final">

			    <p:dataTable var="infoFF" value="#{campeonatoJuvenilesIndividualFacade2022.resultListCalendarioFaseFF}" 
			    			 reflow="true"
							 tableStyle="width: 100%;  table-layout: auto;"
							 emptyMessage="No hay datos.">
			    			 
					<f:facet name="header">
			    		<div class="list-title">
							<h:outputText value="Calendario FINAL"/>
						</div>
			    	</f:facet>
			    	
					<p:column headerText="" width="5%" styleClass="headerTextColumn">
						<ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoFF.modificable}">
				        	<h:commandButton styleClass="iconsavebutton" 
								title="Guardar" action="#{campeonatoJuvenilesIndividualFacade2022.doActualizarResultadosEnfrentamientoDirectoFF(infoFF)}"
				        		rendered="#{infoFF.modificable}">
			        	    </h:commandButton>
				       	 </ui:fragment>
					</p:column>	

			        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoFF.bolera.bolera}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Nº" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoFF.orden}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Cruce" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoFF.idCruce}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Inicia" width="5%" styleClass="headerTextColumn">
			            <h:outputText value="#{infoFF.inicia}"  styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Local" width="15%" styleClass="headerTextColumn">
			            <p:graphicImage url="#{infoFF.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
						<h:outputText value="#{infoFF.jugador1.nombreEquipoShow}" rendered="#{ not empty infoFF.jugador1}" styleClass="valueTextColumn"/>
						<h:outputText value="#{infoFF.origenJugador1}" rendered="#{empty infoFF.jugador1}" styleClass="valueTextColumn"/>
			        </p:column>
			        
			        <p:column headerText="Part 1" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoFF.modificable}">
			            	<h:outputText value="#{infoFF.partida1}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoFF.modificable}">
			            		<p:inputText value="#{infoFF.juegosJugador1P1}" maxlength="1" size="1"
										 rendered="#{infoFF.modificable}"/>
								<h:outputText value="-" rendered="#{infoFF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoFF.juegosJugador2P1}" maxlength="1" size="1"
										 rendered="#{infoFF.modificable}"/>
								<h:outputText value="#{infoFF.partida1}" rendered="#{!infoFF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>
			        
			        <p:column headerText="Part 2" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoFF.modificable}">
			            	<h:outputText value="#{infoFF.partida2}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoFF.modificable}">
			            		<p:inputText value="#{infoFF.juegosJugador1P2}" maxlength="1" size="1"
										 rendered="#{infoFF.modificable}"/>
								<h:outputText value="-" rendered="#{infoFF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoFF.juegosJugador2P2}" maxlength="1" size="1"
										 rendered="#{infoFF.modificable}"/>
								<h:outputText value="#{infoFF.partida2}" rendered="#{!infoFF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>

			        <p:column headerText="Part 3" width="5%" styleClass="headerTextColumn">
			        	<ui:fragment rendered="#{!infoFF.modificable}">
			            	<h:outputText value="#{infoFF.partida3}"  styleClass="valueTextColumn"/>
			            </ui:fragment>
			            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoJuvenilesIndividualFacade2022.getPermisoActualizarResultado()) and infoFF.modificable}">
			            		<p:inputText value="#{infoFF.juegosJugador1P3}" maxlength="1" size="1"
										 rendered="#{infoFF.modificable}"/>
								<h:outputText value="-" rendered="#{infoFF.modificable}" styleClass="valueTextColumn"/>
								<p:inputText value="#{infoFF.juegosJugador2P3}" maxlength="1" size="1"
										 rendered="#{infoFF.modificable}"/>
								<h:outputText value="#{infoFF.partida3}" rendered="#{!infoFF.modificable}" styleClass="valueTextColumn"/>
			            </ui:fragment>
			        </p:column>
			        
			        <p:column headerText="Vistan." width="15%" styleClass="headerTextColumn">
			        	<p:graphicImage url="#{infoFF.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
			            <h:outputText value="#{infoFF.jugador2.nombreEquipoShow}" rendered="#{not emptyinfoFF.jugador2}" styleClass="valueTextColumn"/>
			            <h:outputText value="#{infoFF.origenJugador2}" rendered="#{empty infoFF.jugador2}" styleClass="valueTextColumn"/>
			        </p:column>
			        
			    </p:dataTable>
				
          </p:tab>			
		</p:tabView>
				</h:form>
	</ui:define>
	
	
	
	<ui:define name="contentInscritos">
		<ui:fragment rendered="#{!campeonatoJuvenilesIndividualAddFacade2022.estadoCampeonatoSinCrear}">
		
			<p:tabView>
			
				<p:tab title="Definición Campeonato">
				
					<div class="form-group">
						<div class="col-sm-12">
				
							<h:panelGrid columns="3" width="100%">
							
								<h:column>
									<p:outputLabel for="anyofechaMaxInscripcionInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Fecha max. inscripción"/>
								</h:column>
								
								<h:column>
									<p:outputLabel 	id="diafechaMaxInscripcionInput"
													value="#{campeonatoJuvenilesIndividualAddFacade2022.diaFechaMaxInscripcion}"/>
									<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
									<p:outputLabel 	id="mesfechaMaxInscripcionInput"
													value="#{campeonatoJuvenilesIndividualAddFacade2022.mesFechaMaxInscripcion}"/>
									<p:outputLabel style="text-align: left;padding-left:2px;padding-right:2px;" value="/"/>
									<p:outputLabel 	id="anyofechaMaxInscripcionInput"
													value="#{campeonatoJuvenilesIndividualAddFacade2022.anyoFechaMaxInscripcion}"/>
								</h:column>
								
								<h:column>
									<p:message for="anyofechaMaxInscripcionInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
								<h:column>
									<p:outputLabel for="estadoInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Estado:" />
								</h:column>
								
								<h:column>
										<p:outputLabel id="estadoInput"
											value="#{campeonatoJuvenilesIndividualAddFacade2022.estadoCampeonato}"/>						
								</h:column>
								
								<h:column>
									<p:message for="estadoInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
								<h:column>
									<p:outputLabel for="boleraInput" class="control-label" style="text-align: left;padding-top:2px;width:85px;" value="Bolera Final:" />
								</h:column>
								
								<h:column>
										<p:outputLabel id="boleraInput" value="#{campeonatoJuvenilesIndividualAddFacade2022.nombreBolera}"/>						
								</h:column>
								
								<h:column>
									<p:message for="boleraInput"  display="icon" style="height:24px;width:24px;padding: 2px 3px"/>
								</h:column>
								
							</h:panelGrid>
							
						</div>
					</div>
	
					<div class="form-group">
	
					</div>
	
				</p:tab>
				
				<p:tab title="Jugadores inscritos" rendered="#{!campeonatoJuvenilesIndividualAddFacade2022.estadoCampeonatoSinCrear}">
				
					<h:panelGrid columns="12" width="100%">
					
					</h:panelGrid>
					
					<div class="form-group">
						<h:outputText value="Total jugadoress inscritos: #{campeonatoJuvenilesIndividualAddFacade2022.totalRowsParticipantes}"  styleClass="valueTextColumn"/>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-12">
							<div class="form-group">
							    <p:dataTable var="info" value="#{campeonatoJuvenilesIndividualAddFacade2022.resultListParticipantes}" 
							    			 reflow="true" 
					    			 		 rows="#{campeonatoJuvenilesIndividualAddFacade2022.maxRowsPaginator}" 
					    			 		 paginator="#{campeonatoJuvenilesIndividualAddFacade2022.enabledPaginatorParticipantes}" 
							    			 tableStyle="width: 100%;  table-layout: auto;"
		    			 					 paginatorPosition="bottom"
		    			 					 emptyMessage="No hay datos.">
							 
							        <p:column headerText="Jugador" width="auto" styleClass="headerTextColumn">
							            <h:outputText value="#{info.jugador.nombreEquipoShow}"  styleClass="valueTextColumn"/>
							        </p:column>
							 
							    </p:dataTable>
	
	
	
	
						        <div class="lowButtons my-buttons">
								</div>
							</div>
						</div>
					</div>
					
	
				</p:tab>
				
		        <p:tab title="Instrucciones campeonato">
			        <h:panelGrid columns="1" cellpadding="10">
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato1}" />
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato2}" />
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato3}" />
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato4}" />
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato5}" />
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato6}" />
			            <h:outputText value="#{campeonatoJuvenilesIndividualFacade2022.observacionesCampeonato7}" />    
		        	</h:panelGrid>
		        </p:tab>
			
			</p:tabView>
		</ui:fragment>	
             
	</ui:define>
	
	
</ui:composition>


</html>