<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Gestión de Campeonato Liga" />
				</div>
			</div>
			<div style="padding-bottom: 1%"></div>
		</center>
	</ui:define>

	<ui:define name="content">
	
	<ui:fragment rendered="#{sessionState.hasPermission('BCMEGELI') and sessionState.logged}">
	
		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
			
			<p:messages id="msgs" style="text-align: left"/>
			
				<p:accordionPanel>
					<p:tab title="Definición Campeonato">
					
						<div class="form-group">
							<div class="col-sm-12">
					
								<h:panelGrid columns="12" width="100%">
								
									<h:column>
										<p:outputLabel style="text-align: left;padding-top:2px; color:red" value="!!!Para proceder a realizar el sorteo se han de 
										tener definidas las fechas en el calendario de asturias. 
										Indicando para cada categoria las fechas disponibles de cada jornada, ademas de tener definidos los equipos de cada categoria!!! 
										Por favor, han de revisarse los datos."/>
									</h:column>
									
								</h:panelGrid>
							
							</div>
						</div>
	
						<ui:fragment >
							<div class="form-group">
								<div class="col-sm-12">
									<div class="form-group">
								        <div class="lowButtons my-buttons">
											<h:commandButton value="Realizar Sorteo" styleClass="button btn btn-primary" 
												actionListener="#{campeonatoLigaAddFacade2022.doRealizarSorteoCampeonato()}"/>
											<h:commandButton value="Validar Sorteo" styleClass="button btn btn-primary" 
												actionListener="#{campeonatoLigaAddFacade2022.doValidarCalendario()}"/>
											<h:commandButton value="Borrar Sorteo" styleClass="button btn btn-primary" 
												actionListener="#{campeonatoLigaAddFacade2022.doBorrarSorteo()}"/>
										</div>
									</div>
								</div>
							</div>
						</ui:fragment>
					</p:tab>
				
				</p:accordionPanel>
					
			</h:form>
		
		</div>
		
	</ui:fragment>
	
	<ui:fragment rendered="#{!sessionState.hasPermission('BCMEGELI') or !sessionState.logged}">
	
		<div class="list-title">
			<h:outputText value="No dispone de permisos para visualizar esta pagina" />
		</div>	
	
	</ui:fragment>
			
	</ui:define>




</ui:composition>


</html>

