<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayoutClasifFemenino.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Liga Femenina POPULIS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentFases">
	
		<p:tabView>
				
			<p:tab title="Calendario">
			
				
				
					<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
				
				    <p:dataTable var="info" value="#{campeonatoLigaFemeninaFacade2022.resultListCalendario}" 
				    			 reflow="true" rows="#{campeonatoLigaFemeninaFacade2022.rowsPaginatorCalendario}" paginator="true"
				    			 currentPageReportTemplate="Jornada {currentPage}"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowStyleClass="#{info.puntos eq 1 ? 'primero' : (info.puntos eq 2 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Calendario"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Fecha" width="10%" styleClass="headerTextColumn">
				            <h:outputText value="#{info.fecha}"  styleClass="valueTextColumn">
				            	<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
				            </h:outputText>
				        </p:column>
				        
				        <p:column headerText="Hora" width="5%" styleClass="headerTextColumn">
				            <h:outputText value="#{info.hora}"  styleClass="valueTextColumn">
				            	<f:convertDateTime type="date" pattern="HH:mm"/>
				            </h:outputText>
				        </p:column>
				        
				        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
				            <h:outputText value="#{info.bolera.bolera}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugadora" styleClass="headerTextColumn">
				            <h:outputText value="#{info.jugadora.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Tirada" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23))}">
				            	<h:outputText value="#{info.tirada}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<p:inputText value="#{info.tirada}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.tirada}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="Sacada" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23))}">
				            	<h:outputText value="#{info.sacada}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<p:inputText value="#{info.sacada}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.sacada}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="Total" styleClass="headerTextColumn">
				        	<h:outputText value="#{info.totalTantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Puntos" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23))}">
				            	<h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23)) and sessionState.logged}">
				            		<p:inputText value="#{info.puntos}" maxlength="2" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.puntos}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column width="5%" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
							<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoActualizarResultado(23)) and sessionState.logged}">
						        	<h:commandButton styleClass="iconsavebutton" 
										title="Guardar" action="#{campeonatoLigaFemeninaFacade2022.doActualizarResultadoLiga(info)}"
						        		rendered="#{info.modificable}">
					        	    </h:commandButton>
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaFemeninaFacade2022.getPermisoConfirmarResultado(23)) and sessionState.logged}">
						        	<h:commandButton id="refreshButton" styleClass="iconrefreshbutton" 
										title="Confirmar Resultado" action="#{campeonatoLigaFemeninaFacade2022.doConfirmarResultado(info)}" 
										 rendered="#{info.modificable}">
					        	    </h:commandButton>
				            </ui:fragment>
				        </p:column>
				        	        
				    </p:dataTable>
				    
				</h:form>
				
			
			</p:tab>
			
			<p:tab title="Clasificacion">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaFemeninaFacade2022.resultListClasificacion}" 
				    			 reflow="true" rows="#{campeonatoLigaFemeninaFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugadora">
				            <h:outputText value="#{info.jugadora.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Tirada" >
				            <h:outputText value="#{info.puntosTirada}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Sacada" >
				            <h:outputText value="#{info.puntosSacada}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="Total">
				        	<h:outputText value="#{info.totalTantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Puntos" >
				            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				
				
			</p:tab>
			
		</p:tabView>
		
	</ui:define>
	
</ui:composition>


</html>