<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="/template_1.0/template/commonLayoutClasif.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato de Equipos de Asturias - 1ª Categoria"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentCla">
	
	    <p:dataTable var="info" value="#{campeonatoPrimeraFacade2022.resultListClasificacion}" 
	    			 reflow="true" rows="#{campeonatoPrimeraFacade2022.rowsPaginatorClasificacion}" paginator="false" 
	    			 tableStyle="width: 100%; table-layout: auto;"
	    			 paginatorPosition="bottom"
	    			 rowIndexVar="index"
	    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : (index eq 5 ? 'penultimo' : (index eq 6 ? 'ultimo' : 'normal')))}"
					 emptyMessage="No hay datos.">
	    			 
			<f:facet name="header">
	    		<div class="list-title">
					<h:outputText value="Clasificación"/>
				</div>
	    	</f:facet>

	        <p:column headerText="Pos" styleClass="headerTextColumn">
	            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Equipo" styleClass="headerTextColumn">
	            <h:outputText value="#{info.equipo.nombre}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Jug" styleClass="headerTextColumn">
	            <h:outputText value="#{info.jugados}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Gan" width="10%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.ganados}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Emp" width="10%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.empatados}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Der" width="10%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.perdidos}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Part.+" width="12%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.partidasFavor}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Part.-" width="12%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.partidasContra}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Pun" width="12%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
	        </p:column>
	 

	    </p:dataTable>
	</ui:define>
	
	<ui:define name="contentCal">
	
	<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal" enctype="multipart/form-data">
	
	    <p:dataTable var="info" value="#{campeonatoPrimeraFacade2022.resultListCalendario}" 
	    			 reflow="true" rows="#{campeonatoPrimeraFacade2022.rowsPaginatorCalendario}" paginator="true"
	    			 currentPageReportTemplate="Jornada {currentPage}"
					 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	    			 tableStyle="width: 100%; table-layout: auto;"
	    			 paginatorPosition="bottom"
	    			 emptyMessage="No hay datos.">
	    			 
			<f:facet name="header">
	    		<div class="list-title">
					<h:outputText value="Calendario"/>
				</div>
	    	</f:facet>
	 
	        <p:column headerText="Fecha" width="10%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.fecha}"  styleClass="valueTextColumn">
	            	<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
	            </h:outputText>
	        </p:column>
	        
	        <p:column headerText="Hora" width="5%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.hora}"  styleClass="valueTextColumn">
	            	<f:convertDateTime type="date" pattern="HH:mm"/>
	            </h:outputText>
	        </p:column>
	        
	        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
	            <h:outputText value="#{info.equipo1.bolera.bolera}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="Local" width="15%" styleClass="headerTextColumn">
	            <p:graphicImage url="#{info.requipo1}" height="15px" width="18px" style="padding-right:3px"/>
				<h:outputText value="#{info.equipo1.nombre}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column headerText="" width="5%" styleClass="headerTextColumn">
	        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarResultado(info.equipo1Id))}">
	            	<h:outputText value="#{info.pgequipo1}"  styleClass="valueTextColumn"/>
	            </ui:fragment>
	            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
	            		<p:inputText value="#{info.pgequipo1}" maxlength="1" size="1"
								 rendered="#{info.modificable}"/>
						 <h:outputText value="#{info.pgequipo1}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
	            </ui:fragment>
	        </p:column>
	        
	        <p:column headerText="" width="5%" styleClass="headerTextColumn">
	        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarResultado(info.equipo1Id))}">
	            	<h:outputText value="#{info.pgequipo2}"  styleClass="valueTextColumn"/>
	            </ui:fragment>
	            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
	            		<p:inputText value="#{info.pgequipo2}" maxlength="1" size="1"
								 rendered="#{info.modificable}"/>
						 <h:outputText value="#{info.pgequipo2}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
	            </ui:fragment>
	        </p:column>
	        
	        <p:column headerText="Vistan." width="15%" styleClass="headerTextColumn">
	        	<p:graphicImage url="#{info.requipo2}" height="15px" width="18px" style="padding-right:3px"/>
	            <h:outputText value="#{info.equipo2.nombre}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column width="5%" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
			        	<h:commandButton styleClass="iconsavebutton" 
							title="Guardar" action="#{campeonatoPrimeraFacade2022.doActualizarResultadoLiga(info)}" 
			        		rendered="#{info.modificable}">
		        	    </h:commandButton>
	            </ui:fragment>
	        </p:column>
	        
	        <p:column width="5%" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
	            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoConfirmarResultado(info.equipo2Id)) and sessionState.logged}">
			        	<h:commandButton id="refreshButton" styleClass="iconrefreshbutton" 
							title="Confirmar Resultado" action="#{campeonatoPrimeraFacade2022.doConfirmarResultado(info)}" 
							 rendered="#{info.modificable}">
		        	    </h:commandButton>
	            </ui:fragment>
	        </p:column>

			<p:column headerText="Foto" width="5%" styleClass="headerTextColumn">
				<h:commandButton id="downloadButton" styleClass="icondownloadbutton" 
					title="Descargar Foto" action="#{campeonatoPrimeraFacade2022.doDownloadFile(info)}">
        	    </h:commandButton>
			</p:column>

			<p:column headerText="Foto pizarra" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarResultado(info.equipo1Id)) and sessionState.logged}">
					<h:commandButton value="Subir" action="#{campeonatoPrimeraFacade2022.subir(info)}" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"/>
					<p:separator/>
					<p:fileUpload value="#{campeonatoPrimeraFacade2022.file}"  mode="simple" allowTypes="/(\.|\/)(jpe?g|png|jpg)$/" 
					label="" skinSimple="true"/>
				</ui:fragment>
			</p:column>


	    </p:dataTable>
	    
	</h:form>
	</ui:define>




	<ui:define name="contentEst">
	
	<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
	
	    <p:dataTable var="info" value="#{campeonatoPrimeraFacade2022.resultListJugadoresAcabones}" 
	    			 reflow="true" rows="#{campeonatoPrimeraFacade2022.rowsPaginatorEstadisticaAcabones}" paginator="true" 
	    			 tableStyle="width: 100%; table-layout: auto;"
	    			 paginatorPosition="bottom"
	    			 rowIndexVar="index"
	    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
	    			 emptyMessage="No hay datos.">
	    			 
	    			 
			<f:facet name="header">
	    		<div class="list-title">
					<h:outputText value="ESTADISTICA ACABONES"/>
				</div>
	    	</f:facet>
	    	
            <p:columnGroup type="header">
                <p:row>
                    <p:column rowspan="4" headerText="Apodo" styleClass="headerTextColumn"/>
                    <p:column rowspan="4" headerText="Total" styleClass="headerTextColumn"/>
                    <p:column rowspan="4" headerText="%" styleClass="headerTextColumn"/>
                    <p:column colspan="7" headerText="Jornadas" styleClass="headerTextColumn"/>
                </p:row>
                <p:row>
                	<p:row>
                    	<p:column headerText="1" styleClass="headerTextColumn"/>
                    	<p:column headerText="2" styleClass="headerTextColumn"/>
	                    <p:column headerText="3" styleClass="headerTextColumn"/>
	                    <p:column headerText="4" styleClass="headerTextColumn"/>
	                    <p:column headerText="5" styleClass="headerTextColumn"/>
	                    <p:column headerText="6" styleClass="headerTextColumn"/>
	                    <p:column headerText="7" styleClass="headerTextColumn"/>
                   	</p:row>
	                <p:row>
	                    <p:column headerText="8" styleClass="headerTextColumn"/>
	                    <p:column headerText="9" styleClass="headerTextColumn"/>
	                    <p:column headerText="10" styleClass="headerTextColumn"/>
	                    <p:column headerText="11" styleClass="headerTextColumn"/>
	                    <p:column headerText="12" styleClass="headerTextColumn"/>
	                    <p:column headerText="13" styleClass="headerTextColumn"/>
	                    <p:column headerText="14" styleClass="headerTextColumn"/>
               		</p:row>
               </p:row>

            </p:columnGroup>
            
	        <p:column>
	            <h:outputText value="#{info.nombreEquipo}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column>
	            <h:outputText value="#{info.totalAcabones}"  styleClass="valueTextColumn"/>
	        </p:column>
	        
	        <p:column>
	            <h:outputText value="#{info.promedioAcabones}"  styleClass="valueTextColumn"/>
	        </p:column>

			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ1}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ1}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ8}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ8}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ2}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ2}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ9}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ9}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ3}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ3}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ10}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ10}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ4}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ4}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ11}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ11}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ5}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ5}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ12}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ12}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ6}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ6}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ13}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ13}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>
			
			<p:column>
				<p:panelGrid styleClass="ui-panelgrid-blank" style="text-align: center;">
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ7}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ7}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
					<p:row>
						<p:column >
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            		<p:inputText value="#{info.acabonesJ14}" maxlength="2" size="1" />
				            </ui:fragment>
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
				            	<h:outputText value="#{info.acabonesJ14}" styleClass="valueTextColumn"/>
				            </ui:fragment>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:column>

	        <p:column width="5%" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoPrimeraFacade2022.getPermisoActualizarAcabones())}">
			        	<h:commandButton styleClass="iconsavebutton" 
							title="Guardar" action="#{campeonatoPrimeraFacade2022.doActualizarAcabones(info)}">
		        	    </h:commandButton>
	            </ui:fragment>
	        </p:column>





			</p:dataTable>
	    
	</h:form>
	</ui:define>


</ui:composition>


</html>