<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayoutClasifFemenino.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Liga Infantil LA GRIEGA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentFases">
	
		<p:tabView>
				
			<p:tab title="Calendario">
			
				
				
					<h:form style="width: 100% !important; margin: 0px 0px 0 !important;" class="form-horizontal">
				
				    <p:dataTable var="info" value="#{campeonatoLigaInfantilFacade2022.resultListCalendario}" 
				    			 reflow="true" rows="#{campeonatoLigaInfantilFacade2022.rowsPaginatorCalendario}" paginator="true"
				    			 currentPageReportTemplate="Jornada {currentPage}"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowStyleClass="#{info.puntos eq 1 ? 'primero' : (info.puntos eq 2 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Calendario"/>
							</div>
				    	</f:facet>
				    	
				        <p:column width="5%" rendered="#{sessionState.logged}" styleClass="headerTextColumn">
											<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) and info.modificable}">
						        	<h:commandButton styleClass="iconsavebutton" 
										title="Guardar" action="#{campeonatoLigaInfantilFacade2022.doActualizarResultadoLiga(info)}"
						        		rendered="#{info.modificable}">
					        	    </h:commandButton>
				            </ui:fragment>
				            <ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoConfirmarResultado()) and sessionState.logged}">
						        	<h:commandButton id="refreshButton" styleClass="iconrefreshbutton" 
										title="Confirmar Resultado" action="#{campeonatoLigaInfantilFacade2022.doConfirmarResultado(info)}" 
										 rendered="#{info.modificable}">
					        	    </h:commandButton>
				            </ui:fragment>
				        </p:column>
			
				        <p:column headerText="Fecha" width="10%" styleClass="headerTextColumn">
				            <h:outputText value="#{info.fecha}"  styleClass="valueTextColumn">
				            	<f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
				            </h:outputText>
				        </p:column>
				        
				        <p:column headerText="Hora" width="5%" styleClass="headerTextColumn">
				            <h:outputText value="#{info.hora}"  styleClass="valueTextColumn">
				            	<f:convertDateTime type="date" pattern="HH:mm"/>
				            </h:outputText>
				        </p:column>
				        
				        <p:column headerText="Bolera" width="10%" styleClass="headerTextColumn">
				            <h:outputText value="#{info.bolera.bolera}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador/a" styleClass="headerTextColumn">
				            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Categoria" styleClass="headerTextColumn">
				            <h:outputText value="#{info.categoria}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Tot" styleClass="headerTextColumn">
				        	<h:outputText value="#{info.totalTantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="R.1" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) or !info.modificable}">
				            	<h:outputText value="#{info.ronda1}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
            				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) and info.modificable}">
				            		<p:inputText value="#{info.ronda1}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.ronda1}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="R.2" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) or !info.modificable}">
				            	<h:outputText value="#{info.ronda2}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
            				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) and info.modificable}">
				            		<p:inputText value="#{info.ronda2}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.ronda2}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
						<p:column headerText="R.3" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) or !info.modificable}">
				            	<h:outputText value="#{info.ronda3}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
            				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) and info.modificable}">
				            		<p:inputText value="#{info.ronda3}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.ronda3}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="R.4" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) or !info.modificable}">
				            	<h:outputText value="#{info.ronda4}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
            				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) and info.modificable}">
				            		<p:inputText value="#{info.ronda4}" maxlength="3" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.ronda4}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				        <p:column headerText="Pun" styleClass="headerTextColumn">
				        	<ui:fragment rendered="#{!sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) or !info.modificable}">
				            	<h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				            </ui:fragment>
            				<ui:fragment rendered="#{sessionState.hasPermission(campeonatoLigaInfantilFacade2022.getPermisoActualizarResultado()) and info.modificable}">
				            		<p:inputText value="#{info.puntos}" maxlength="2" size="3"
											 rendered="#{info.modificable}"/>
									 <h:outputText value="#{info.puntos}" rendered="#{!info.modificable}" styleClass="valueTextColumn"/>
				            </ui:fragment>
				        </p:column>
				        
				    </p:dataTable>
				    
				</h:form>
				
			
			</p:tab>
			
			<p:tab title="Clasificacion Mini">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaInfantilFacade2022.resultListClasificacionMini}" 
				    			 reflow="true" rows="#{campeonatoLigaInfantilFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador/a">
				            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="Tantos">
				        	<h:outputText value="#{info.tantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Puntos" >
				            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				        </p:column>

               	        <p:column headerText="Tantos Final" >
				            <h:outputText value="#{info.tantosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
      		   	        <p:column headerText="Puntos Final" >
				            <h:outputText value="#{info.puntosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				    </p:dataTable>
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Benjamin">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaInfantilFacade2022.resultListClasificacionBenjamin}" 
				    			 reflow="true" rows="#{campeonatoLigaInfantilFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador/a">
				            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="Tantos">
				        	<h:outputText value="#{info.tantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Puntos" >
				            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				        </p:column>

               	        <p:column headerText="Tantos Final" >
				            <h:outputText value="#{info.tantosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
      		   	        <p:column headerText="Puntos Final" >
				            <h:outputText value="#{info.puntosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				    </p:dataTable>
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Alevin">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaInfantilFacade2022.resultListClasificacionAlevin}" 
				    			 reflow="true" rows="#{campeonatoLigaInfantilFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador/a">
				            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="Tantos">
				        	<h:outputText value="#{info.tantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Puntos" >
				            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				        </p:column>

               	        <p:column headerText="Tantos Final" >
				            <h:outputText value="#{info.tantosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
      		   	        <p:column headerText="Puntos Final" >
				            <h:outputText value="#{info.puntosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				    </p:dataTable>
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Infantil">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaInfantilFacade2022.resultListClasificacionInfantil}" 
				    			 reflow="true" rows="#{campeonatoLigaInfantilFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador/a">
				            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="Tantos">
				        	<h:outputText value="#{info.tantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Puntos" >
				            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				        </p:column>

               	        <p:column headerText="Tantos Final" >
				            <h:outputText value="#{info.tantosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
      		   	        <p:column headerText="Puntos Final" >
				            <h:outputText value="#{info.puntosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        			
				    </p:dataTable>
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Cadete">
		
				
				
				    <p:dataTable var="info" value="#{campeonatoLigaInfantilFacade2022.resultListClasificacionCadete}" 
				    			 reflow="true" rows="#{campeonatoLigaInfantilFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%; table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador/a">
				            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="Tantos">
				        	<h:outputText value="#{info.tantos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="Puntos" >
				            <h:outputText value="#{info.puntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
               	        <p:column headerText="Tantos Final" >
				            <h:outputText value="#{info.tantosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
      		   	        <p:column headerText="Puntos Final" >
				            <h:outputText value="#{info.puntosFinal}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				
				
			</p:tab>
			
		</p:tabView>
		
	</ui:define>
	
</ui:composition>


</html>