<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText
						value="TV EN DIRECTO" />
				</div>
			</div>
			<div style="padding-bottom: 1%"></div>
		</center>
	</ui:define>

	<ui:define name="content">

		<body>
		
		<h:form style="width: 100% !important; margin: 0px 5px 0 !important;" class="form-horizontal">
		

			<div>
				<iframe width="930" height="515" src="https://youtu.be/_GK9qZdTSyE"
					frameborder="0" title="TV EN DIRECTO"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen="true"></iframe>

			</div>

		</h:form>

		</body>

	</ui:define>




</ui:composition>


</html>

