<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="EQUIPOS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">
		<h:form>
		    <p:dataTable var="info" value="#{equiposFacade2022.resultList}" 
		    			 reflow="true"
		    			 rows="#{equiposFacade2022.maxRowsPaginator}" 
	    			 	 paginator="#{equiposFacade2022.enabledPaginator}" 
		    			 tableStyle="width: 100%;  table-layout: auto;"
		    			 paginatorPosition="bottom"
		    			 emptyMessage="No hay datos.">
		    			 
	 
		        <p:column headerText="Nombre" width="30%" styleClass="headerTextColumn">
		            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn" style="padding-right:15px;"/>
		        	<h:commandButton id="viewButton2" styleClass="iconview32button"  
						title="Ver" action="#{fichaEquipoFacade2022.doSelected(info.id)}">
	        	    </h:commandButton>
		        </p:column>
		 
		        <p:column headerText="Categoria" width="30%" styleClass="headerTextColumn">
		            <h:outputText value="#{info.categoria.nombreCategoria}"  styleClass="valueTextColumn"/>
		        </p:column>
		        
		        <p:column headerText="Bolera" width="30%" styleClass="headerTextColumn">
		            <h:outputText value="#{info.bolera.bolera}"  styleClass="valueTextColumn"/>
		        </p:column>
		 
		    </p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>


</html>

