<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="GALERIA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>
	
<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
    <p:graphicImage name="/demo/images/ajaxloadingbar.gif" />
</p:dialog>

	<ui:define name="content">
		<h:form>
			<h:panelGrid id="resourcePanel" columns="5" rules="all">
			    <c:forEach var="var" items="#{galeriaFacade2022.resultList}">
			        <h:panelGrid columns="1" rules="none">
			            <h:graphicImage
			                value="#{galeriaFacade2022.getRecuperarImagen(var.nombre)}"
			                style="width:100px;" />
			            <h:outputText value="#{var.nombre}" />
			        </h:panelGrid>
			    </c:forEach>
			</h:panelGrid>
		</h:form>
	</ui:define>




</ui:composition>

</html>

