<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="Campeonato Individual de Asturias: Inscripción jugadores"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>

	<ui:define name="content">

		<div style="width: 100%; background-color: #ECE8E7; padding-bottom: 5px; border;border: 2px solid #6C6C6C; border-radius: 5px; max-height: 99%">

			<h:form style="width: 90% !important; margin: 15px 25px 0 !important;" class="form-horizontal">
			
				<p:messages id="msgs" style="text-align: left"/>
				
				
				<div class="form-group">
				</div>
		
				<div class="form-group">
				
						    <p:dataTable var="info" value="#{fichaEquipoFacade2022.equipo.jugadoresList}" 
						    			 reflow="true" 
				    			 		 rows="#{fichaEquipoFacade2022.maxRowsPaginator}" 
				    			 		 paginator="#{fichaEquipoFacade2022.enabledPaginator}" 
						    			 tableStyle="width: 100%;  table-layout: auto;"
	    			 					 paginatorPosition="bottom"
	    			 					 emptyMessage="No hay datos.">
						 
						        <p:column headerText="Nombre" width="auto" styleClass="headerTextColumn">
						            <h:outputText value="#{info.nombre}"  styleClass="valueTextColumn"/>
						        </p:column>
						 
						        <p:column headerText="Apodo" styleClass="headerTextColumn">
						            <h:outputText value="#{info.apodo}"  styleClass="valueTextColumn"/>
						        </p:column>
						        
						        <p:column headerText="Inscribir para Categoria" styleClass="headerTextColumn">
         							<h:commandLink action="#{fichaEquipoFacade2022.doInscribirPrimera(info)}" title="Inscripción Primera"
         								rendered="#{fichaEquipoFacade2022.isInscribibleMasculino(info, 1) and campeonatoMasculinoIndividualPrimeraAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_1.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirPrimera(info)}" title="Anular Inscripción Primera"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleMasculino(info, 1) and campeonatoMasculinoIndividualPrimeraAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_1_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
         							<h:commandLink action="#{fichaEquipoFacade2022.doInscribirSegunda(info)}" title="Inscripción Segunda"
         								rendered="#{fichaEquipoFacade2022.isInscribibleMasculino(info, 2) and campeonatoMasculinoIndividualSegundaAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_2.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
         							<h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirSegunda(info)}" title="Anular Inscripción Segunda"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleMasculino(info, 2) and campeonatoMasculinoIndividualSegundaAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_2_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doInscribirTercera(info)}" title="Inscripción Tercera"
         								rendered="#{fichaEquipoFacade2022.isInscribibleMasculino(info, 3) and campeonatoMasculinoIndividualTerceraAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_3.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirTercera(info)}" title="Anular Inscripción Tercera"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleMasculino(info, 3) and campeonatoMasculinoIndividualTerceraAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_3_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doInscribirFemenino(info)}" title="Inscripción Femenino"
         								rendered="#{fichaEquipoFacade2022.isInscribibleFemenino(info, 4) and campeonatoFemeninoIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_F.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirFemenino(info)}" title="Anular Inscripción Femenino"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleFemenino(info, 4) and campeonatoFemeninoIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_F_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>

							        <h:commandLink action="#{fichaEquipoFacade2022.doInscribirVeteranos(info)}" title="Inscripción Veteranos"
         								rendered="#{fichaEquipoFacade2022.isInscribibleVeteranos(info, 5) and campeonatoVeteranosIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_V.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirVeteranos(info)}" title="Anular Inscripción Veteranos"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleVeteranos(info, 5) and campeonatoVeteranosIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_V_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>

							        <h:commandLink action="#{fichaEquipoFacade2022.doInscribirJuveniles(info)}" title="Inscripción Juveniles"
         								rendered="#{fichaEquipoFacade2022.isInscribibleJuveniles(info, 6) and campeonatoJuvenilesIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_J.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirJuveniles(info)}" title="Anular Inscripción Juveniles"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleJuveniles(info, 6) and campeonatoJuvenilesIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_J_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>

							        <h:commandLink action="#{fichaEquipoFacade2022.doInscribirCadetes(info)}" title="Inscripción Cadetes"
         								rendered="#{fichaEquipoFacade2022.isInscribibleCadetes(info, 10) and campeonatoCadetesIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_C.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        <h:commandLink action="#{fichaEquipoFacade2022.doDesinscribirCadetes(info)}" title="Anular Inscripción Cadetes"
         								rendered="#{fichaEquipoFacade2022.isDesinscribibleCadetes(info, 10) and campeonatoCadetesIndividualAddFacade2022.cerrarInscripciones}">
							           	<h:graphicImage value="template_1.0/images/categoria_C_d.png" height="22px" width="22px" style="padding-right:3px"/>
							        </h:commandLink>
							        
						        </p:column>
						        
						        <p:column headerText="Inscrito en Categoria" styleClass="headerTextColumn">
						           	<h:graphicImage value="template_1.0/images/categoria_1.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualPrimera(info)}" title="Inscripción Primera"/>
						           	<h:graphicImage value="template_1.0/images/categoria_2.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualSegunda(info)}" title="Inscripción Segunda"/>
						           	<h:graphicImage value="template_1.0/images/categoria_3.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualTercera(info)}" title="Inscripción Tercera"/>
						           	<h:graphicImage value="template_1.0/images/categoria_F.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualFemenino(info)}" title="Inscripción Femenino"/>
						           	<h:graphicImage value="template_1.0/images/categoria_V.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualVeteranos(info)}" title="Inscripción Veteranos"/>
						           	<h:graphicImage value="template_1.0/images/categoria_J.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualJuveniles(info)}" title="Inscripción Juveniles"/>
						           	<h:graphicImage value="template_1.0/images/categoria_C.png" height="22px" width="22px" style="padding-right:3px"
						           		rendered="#{fichaEquipoFacade2022.isInscritoIndividualCadetes(info)}" title="Inscripción Cadetes"/>
						        </p:column>
						        
						        
						        						 
						    </p:dataTable>

					<div class="form-group">

					</div>
					
				</div>
				
				<div class="form-group">
					<div class="lowButtons my-buttons">
						<h:commandButton id="cancelButton" styleClass="button btn btn-info" 
							value="Cancelar" action="#{fichaEquipoFacade2022.doCancel()}" 
							rendered="#{sessionState.logged}" immediate="true">
						</h:commandButton>
	        	    </div>
				</div>

			</h:form>

		</div>

	</ui:define>

</ui:composition>

</html>
