<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



<ui:composition template="/template_1.0/template/commonLayout.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="NOTICIAS"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>
	
<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
    <p:graphicImage name="/demo/images/ajaxloadingbar.gif" />
</p:dialog>

	<ui:define name="content">
		<h:form>
			<p:dataTable var="info" value="#{noticiasFacade2022.resultList}"
				reflow="true" rows="#{noticiasFacade2022.maxRowsPaginator}"
				paginator="#{noticiasFacade2022.enabledPaginator}"
				tableStyle="width: 100%;  table-layout: auto;"
				paginatorPosition="bottom"
				emptyMessage="No hay datos.">

				<p:column headerText="Fecha" styleClass="headerTextColumn">
					<h:outputText value="#{info.fecha}" styleClass="valueTextColumn"/>
				</p:column>
				
				<p:column headerText="Descripcion" styleClass="headerTextColumn">
					<h:inputTextarea  rows="8" cols="125" readonly="true" 
						value="#{info.resumenCorto}"  style="border-color: white"/>
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>




</ui:composition>

</html>

