<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
    xmlns:c="http://java.sun.com/jsp/jstl/core">



<ui:composition template="/template_1.0/template/commonLayoutClasifFemenino.xhtml">

	<ui:define name="content-title">
		<center>
			<div class="ui-datatable-header ui-widget-header ui-corner-top">
				<div class="list-title">
					<h:outputText value="CLASIFICACION PREMIOS DE LA TEMPORADA"/>
				</div>
			</div>
			<div style="padding-bottom: 1%">
				<p:messages id="msgs" style="text-align: left"/>
			</div>
			<div style="padding-bottom: 1%">
			</div>
		</center>	
	</ui:define>	
	
	<ui:define name="contentFases">
	
		<p:tabView>
			
			<p:tab title="Clasificacion Primera">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosPrimera}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="true" 
				    			 currentPageReportTemplate=" "
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />			
				
			</p:tab>
			
			<p:tab title="Clasificacion Segunda">
		
				
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosSegunda}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="true" 
				    			 currentPageReportTemplate=" "
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
				<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Tercera">
		
				
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosTercera}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="true" 
				    			 currentPageReportTemplate=" "
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
				<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Veteranos">
		
				
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosVeterano}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="true" 
				    			 currentPageReportTemplate=" "
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
				<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />
				
				
			</p:tab>
			
			
			<p:tab title="Clasificacion Juveniles">
		
				
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosJuvenil}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
				<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />
				
				
			</p:tab>
			
			<p:tab title="Clasificacion Cadetes">
		
				
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosCadete}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
				<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />
				
				
			</p:tab>

			<p:tab title="Clasificacion Femenino">
		
				
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListPremiosFemenino}" 
				    			 reflow="true" rows="#{premiosMVPFacade2022.rowsPaginatorClasificacion}" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 paginatorPosition="bottom"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIA" styleClass="verticalText">
			            	<h:outputText value="#{info.pia}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPA" styleClass="verticalText">
			            	<h:outputText value="#{info.ppa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEA" styleClass="verticalText">
			            	<h:outputText value="#{info.pea}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PMA" styleClass="verticalText">
			            	<h:outputText value="#{info.pma}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PAA" styleClass="verticalText">
			            	<h:outputText value="#{info.paa}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVA" styleClass="verticalText">
			            	<h:outputText value="#{info.pva}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJA" styleClass="verticalText">
			            	<h:outputText value="#{info.pja}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PLF" styleClass="verticalText">
			            	<h:outputText value="#{info.plf}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
    			        <p:column headerText="PIE" styleClass="verticalText">
			            	<h:outputText value="#{info.pie}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PPE" styleClass="verticalText">
			            	<h:outputText value="#{info.ppe}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PEE" styleClass="verticalText">
			            	<h:outputText value="#{info.pee}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
			   	        <p:column headerText="PME" styleClass="verticalText">
			            	<h:outputText value="#{info.pme}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PVE" styleClass="verticalText">
			            	<h:outputText value="#{info.pve}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="PJE" styleClass="verticalText">
			            	<h:outputText value="#{info.pje}"  styleClass="valueTextColumn"/>
				        </p:column>
			
				    </p:dataTable>
				    
				<ui:include src="/template_1.0/template/commonPremiosMVP.xhtml" />
				
				
			</p:tab>
			

			
			<p:tab title="Votaciones Primera">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesPrimera}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(1, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />			
				
			</p:tab>
			
			<p:tab title="Votaciones Segunda">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesSegunda}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(2, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />				
				
			</p:tab>
			
			<p:tab title="Votaciones Tercera">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesTercera}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(3, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />				
				
			</p:tab>
			
			<p:tab title="Votaciones Veteranos">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesVeterano}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(11, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />	
				
			</p:tab>
			
			
			<p:tab title="Votaciones Juveniles">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesJuvenil}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(12, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />			
				
			</p:tab>
			
			<p:tab title="Votaciones Cadetes">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesCadete}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(12, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />			
				
			</p:tab>
			
			<p:tab title="Votaciones Femenino">
					
				
				    <p:dataTable var="info" value="#{premiosMVPFacade2022.resultListVotacionesFemenino}" 
				    			 reflow="true" paginator="false" 
				    			 tableStyle="width: 100%;  table-layout: auto;"
				    			 rowIndexVar="index"
				    			 rowStyleClass="#{index eq 0 ? 'primero' : (index eq 1 ? 'segundo' : 'normal')}"
				    			 emptyMessage="No hay datos.">
				 
						<f:facet name="header">
				    		<div class="list-title">
								<h:outputText value="Clasificación"/>
							</div>
				    	</f:facet>
			
				        <p:column headerText="Pos">
				            <h:outputText value="#{index+1}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="Jugador">
				            <h:outputText value="#{info.jugador.nombreEquipo}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
				        <p:column headerText="TOTAL" styleClass="verticalText">
			            	<h:outputText value="#{info.totalPuntos}"  styleClass="valueTextColumn"/>
				        </p:column>
				        
						<c:forEach var="column" items="#{premiosMVPFacade2022.resultListEquiposVotaciones}">
			                <p:column>
			                    <f:facet name="header">
			                        <h:outputText value="#{column.nombre}" styleClass="verticalText"/>
			                    </f:facet>
			                    <h:outputText value="#{premiosMVPFacade2022.buscarValorVotacionEquipo(4, column.id, info.idJugador)}"/>
			                </p:column>
			            </c:forEach>
				        

			
				    </p:dataTable>
				    
					<ui:include src="/template_1.0/template/commonVotacionesMVP.xhtml" />
									
			</p:tab>
			
			
			
		</p:tabView>
		
	</ui:define>
	
</ui:composition>


</html>